$icon-font-path: '../fonts/';

@import "bootstrap_variables";
// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


$debug: false;

body{
  @if $debug == true {
    min-height: 100%;
    &:after{
      position: fixed;
      top: 10px;
      right: 20px;
      font-size: 250%;
      z-index: 30000;
      color: red;
    }
    @media (min-width: $screen-lg-min) {
      &:after{
        content: "screen-lg"
      }
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      &:after{
        content: "screen-md"
      }
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      &:after{
        content: "screen-sm"
      }
    }
    @media (max-width: $screen-xs-max) {
      &:after{
        content: "screen-xs"
      }
    }
    .grid-debugger{
      position: fixed;
      height: 100%;
      width: 100%;
      margin: 0 auto;
      .container{
        height: 100%;
        .row{
          height: 100%;
          .column{
            @extend .col-xs-1;
            @extend .col-sm-1;
            @extend .col-md-1;
            @extend .col-lg-1;
            height: 100%;
            background-color: rgba(red, .3);
            background-clip: content-box;
          }
        }
      }
    }
  } @else {
    .grid-debugger{
      display: none;
    }
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.no-wrap{
  white-space: nowrap;
  display: inline;
}

.led-group-container{
  h5, h5 + p {
    display: inline;
  }
  &.has-subcaption{
    h5{
      display: block;
      width: 100%;
      margin-top: 12px;
      margin-bottom: 4px;
    }
  }
}

.text-list{
  list-style: none;
  padding-left: 0;
  li{
    position: relative;
    &::before{
      position: absolute;
      left: -$padding-base-horizontal;
      content: '⋅';
      letter-spacing: -1em;
    }
  }
}

.has-decorative-content{
  &::after, &::before{
    font-size: 2em;
    line-height: 50%;
    color: rgba($text-color, .5);
  }
}

.item-list{
  list-style: none;
  padding-left: 0;
  @extend div;
}
.tag-list{
  li{
    display: inline-block;
    position: relative;
    &:not(:last-child){
      margin-right: .3em;
      &::after{
        @extend .has-decorative-content;
        content: ',';
        position: absolute;
        height: 100%;
        width: auto;
        bottom: 0;
        right: -.3em;
      }
    }
  }
}


// draft
.progress-tag{
  &::before{
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    // background-color: red;
    left: 0;
    bottom: 0;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
    height: 100%;
    background-image: linear-gradient(to top, $brand-info, $brand-info 90%, rgba(white, 0) 100%);
    background-size: 100% 0%;
    background-position: bottom;
    background-repeat: no-repeat; 
  }
  @for $i from 1 through 100 {
    &[data-progress='#{$i}']::before{
      background-size: 100% #{$i * 1%};
    }
  }
}

// draft
.object-summary-view{
  .summary{
    dl{
      span{
        &:not(:last-child){
          dd::after{
            content: ';';
          }
        }
        &:last-child{
          dd::after{
            content: '.'
          }
        }
      }
      dt, dd{
        display: inline;
      }
      dt{
        &::after{
          content: ':';
        }
      }
      & > dd{
        &:not(:last-child)::after{
          content: ';';
        }
        &:last-child::after{
          content: '.'
        }
      }

    }
  }
}

// draft

.item-description{
  padding-top: 11px;
  & + .related-list-groud{
    margin-top: 5px;
    h6{
      margin-bottom: 3px;
    }
  }
}


.experience{
  .employment{
    .employer{
      // text-align: right;
      padding-top: 10px;
      h4{
        display: inline;
      }
      p{
        &:first-of-type{
          display: inline;
        }
      }
      
      .position{
        .position-name{
          text-align: left;
        }
        .period{
          text-align: right;
          .since,
          .till{
            // display: block;
            width: 100%;
            &::after, &::before{
              font-size: smaller;
              color: $gray-light;
              font-style: italic;
              // width: 100%;
            }
            // width: 100%;
          }
          .current{
            width: 100%;
            font-size: smaller;
            color: $gray-light;
            font-style: italic;
          }
          .since{
            &::before{
              content: 'since';
            }
          }
          .till{
            &::before{
              content: 'till';
            }
          }
        }
      }
    }
    .projects-list{
      @extend .item-list;
      .project-description{
        // padding-top: 10px;
        @extend .item-description;
        @extend .led-group-container;
      }
      .project-achivements{
        // padding-top: 10px;
        @extend .related-list-groud;
        .achivements-list{
          @extend .text-list;
        }
      }
    }
  }  
}
.skill-list{
  ul{
    @extend .item-list;
    @extend .tag-list;
    li{
      @extend .progress-tag;
    }
  }
}
.education, .personality{
  ul{
    // @extend .item-list;
    @extend .text-list;
    li{
      @extend .led-group-container;
    }
    // padding-left: $padding-base-horizontal;
  }
}

.education{
  li.course{
    @extend .has-subcaption;
  }
}

.person-name{
  @extend .object-summary-view;
  .person-parameters{
    @extend .summary;
  }  
}

.person-position{
  @extend .object-summary-view;
  .position-parameters{
    @extend .summary;
  }
}


@media print {
  a{
    &::after{
      display: none;
    }
  }
}