<template name="emailOverlay">
	{{#momentum plugin='animate-css' sKlass='email-overlay' timeout=5000}}
		{{> Template.dynamic template=dialog}}
	{{/momentum}}
</template>

<template name="composeEmail">
	<div class="email-dialog dialog utility-background">
		<div class="dialog-heading">
			<h4>Email me</h4>
			<a href="#" class="close-button js_close_dialog" title="Close">
				{{> SVGicon name="cross"}}
			</a>
		</div>
		<div class="dialog-form">
			<form id="emailForm">
				<div class="sender-info">
					{{>formField label_text="Enter a name" name="name" placeholder="Please enter your name" type="text" value=name isRequired=true}}
					{{>formField label_text="Enter an email address" name="email" placeholder="Please enter your email address" type="email" value=email isRequired=true}}
				</div>
				<div class="message">
					{{>formField label_text="Enter a subject" name="subject" placeholder="Please enter a subject" type="text" value=subject isRequired=true}}
					{{>formField label_text="Enter a message" name="message" placeholder="Please type in your message" type="textarea" value=message isRequired=true}}
				</div>
			</form>
		</div>
		<div class="dialog-controls">
			<a type="button" class="dialog-secondary-btn secondary-btn js_clear_email" href="#" title="Clear">Clear</a>
			<a type="button" class="dialog-cta-btn cta-color js_send_email" href="#" title="Send">Send</a>
		</div>
	</div>
</template>

<template name="successDialog">
	<div class="success-dialog dialog utility-background">
		<div class="dialog-heading">
			<h4>Email sent</h4>
			<a href="#" class="close-button js_close_dialog" title="Close">
				{{> SVGicon name="cross"}}
			</a>
		</div>
		<div class="dialog-body">
			<p>
			Thank you! I'll be in touch with you soon.			
			</p>
		</div>
		<div class="dialog-controls">
			<a type="button" class="dialog-cta-btn cta-color js_close_dialog" href="#" title="OK">OK</a>
		</div>
	</div>
</template>