<template name="formField">
	<label class="{{type}}-input-group {{#if inlineFormID}}inline-form{{/if}}">
		<span class="label-text">
			{{label_text}}
		</span>
		

		

		{{#if inlineFormID}}
			<div class="inline-group">
				{{>Template.dynamic template=inputType}}
				<a type="submit" class="field-submit" href="#" id="{{inlineFormID}}" title="Submit">
					<h6><span>Submit</span></h6>
				</a>
			</div>
		{{else}}

			{{>Template.dynamic template=inputType}}

		{{/if}}


		{{>formError name}}
	</label>
</template>

<template name="formInput">
	<input required="{{isRequired}}" type="{{type}}" name="{{name}}" placeholder="{{placeholder}}" value="{{value}}">
</template>

<template name="formTextarea">
	<textarea required="{{isRequired}}" name="{{name}}" placeholder="{{placeholder}}" rows="6">{{value}}</textarea>
</template>

<template name="formError">
	{{#if errors this}}
	<span class="error-text">
		{{#each err in errors this}}
			{{err}};&emsp;
		{{/each}}
	</span>
	{{/if}}
</template>

<template name="formCheckbox">
	<div class="checkbox">
		<svg width="100px" height="100px" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		    <title>Checkbox</title>
		    <defs>

			    <g id="checkbox-frame-unchecked">
			        <polygon id="rb-path" points="70 70 70 12 66 12 66 66 30.0556641 65.9999988 30.0556641 69.9999988"></polygon>
			        <polygon id="tp-path" points="0 0 0 37 4 37 4 4 66 4 66 14 70 14 70 0"></polygon>
			        <polygon id="lb-path" points="0 70 0 35 4 35 4 66 32 66 32 70"></polygon>
			    </g>


			    <g id="checkbox-frame-checked">
			        <polygon id="rb-path" points="44.7886918 70 70 70 70 24.517596 66 31.7337871 66 66 47.005928 66"></polygon>
			        <polygon id="tp-path" points="0 0 0 23.7497559 4 27.7705078 4 4 26.2541504 4 58.1841431 4 60.4123535 0 47.5576172 0"></polygon>
			        <polygon id="lb-path" points="20 70 0 70 0 50 4 54 4 66 16 66"></polygon>
			    </g>
			    
			    <polygon id="checkmark-checked" fill="currentColor" points="10.0266667 41.0927791 10.0012521 52.3810724 49.038317 91.4181373 100.066454 -0.0263117406 90.8808781 0.0435841185 47.4067945 78.4729066"></polygon>
			    


			    <polygon id="checkmark-semi-checked" fill="currentColor" points="10.0266667 41.0927791 10.0012521 52.3810724 49.038317 91.4181373 49.038317 91.4181373 47.4067945 78.4729066 47.4067945 78.4729066"></polygon>




			    <polygon id="checkmark-unchecked" points="26.1689165 66.0495501 26.1689165 41.1837672 26.1689165 66.0495501 26.1689165 41.1837672 26.1689165 66.0495501 26.1689165 41.1837672" fill="currentColor"></polygon>
			    <!-- <polygon id="checkmark-unchecked" points="0 0 0 0 0 0 0 0 0 0 0 0" fill="currentColor"></polygon> -->

		    </defs>
		    
		    <g id="checkbox" stroke="none" stroke-width="1" fill-rule="evenodd" fill="currentColor">
		    	<g id="checkbox-frame" transform="translate(15.000000, 15.000000)" fill="currentColor">
		    		{{#if value}}
		    		<polygon id="rb-path" points="44.7886918 70 70 70 70 24.517596 66 31.7337871 66 66 47.005928 66"></polygon>
		    		<polygon id="tp-path" points="0 0 0 23.7497559 4 27.7705078 4 4 26.2541504 4 58.1841431 4 60.4123535 0 47.5576172 0"></polygon>
		    		<polygon id="lb-path" points="20 70 0 70 0 50 4 54 4 66 16 66"></polygon>
		    		{{else}}
		    	    <polygon id="rb-path" points="70 70 70 12 66 12 66 66 30.0556641 65.9999988 30.0556641 69.9999988"></polygon>
		    	    <polygon id="tp-path" points="0 0 0 37 4 37 4 4 66 4 66 14 70 14 70 0"></polygon>
		    	    <polygon id="lb-path" points="0 70 0 35 4 35 4 66 32 66 32 70"></polygon>
		    	    {{/if}}
		    	</g>

		    	{{#if value}}
		    	<polygon id="checkmark" points="10.0266667 41.0927791 10.0012521 52.3810724 49.038317 91.4181373 100.066454 -0.0263117406 90.8808781 0.0435841185 47.4067945 78.4729066" fill="currentColor"></polygon>
		    	{{else}}
		    	<polygon id="checkmark" points="26.1689165 66.0495501 26.1689165 41.1837672 26.1689165 66.0495501 26.1689165 41.1837672 26.1689165 66.0495501 26.1689165 41.1837672" fill="currentColor"></polygon>
		    	{{/if}}

		        <rect id="checkbox-bounds" fill-opacity="0" fill="#FFFFFF" x="15" y="15" width="70" height="70"></rect>
		    </g>
		</svg>

		<input required="{{isRequired}}" id="checkbox-input" type="checkbox" name="{{name}}" checked="{{value}}">
	</div>
</template>





