<template name="navMenu">
	<!-- make animated class -->
	<div class="mini-nav">
		<a type="button" href="#" title="email me" class="mini-nav-btn js_email_me dynamic_color" data-color="{{globalPallet.cta}}">
			{{>SVGicon name="email"}}
		</a>
		<a type="button" href="#" class="mini-nav-btn js_toggle_menu dynamic_color" data-color="{{color}}" title="Menu">
			{{#if icon}}
				{{>SVGicon name="menu"}}
			{{else}}
				<h3>{{letters}}</h3>
			{{/if}}
		</a>
		
	</div>
</template>

<template name="menuOverlay">
	<div class="menu-overlay">
		{{>topLevelMenu close="true"}}
		<div class="current-level-navigation">
			<ul class="item-list">
				{{#each category in categories}}
				<li class="item">
					<h5>
						<a class="category-link js_close_menu" href="{{url category}}" title="{{category.title}}">
							<span class="category-initial dynamic_color" data-color="{{category.color}}">{{category.shortCut}}</span>
							<span class="category-name">{{category.titleShort}}</span>
						</a>
					</h5>
					<ul class="item-list">
						{{#each project in projects category}}
						<li class="item">
							<a class="js_close_menu" href="{{url project category}}" title="{{project.title}}">
								<h6>{{project.title}}</h6>
							</a>
						</li>
						{{/each}}
					</ul>
				</li>
				{{/each}}
			</ul>
		</div>
	</div>
</template>

<template name="topLevelMenu">
	<nav class="top-level-navigation dynamic_color" data-color={{color}}>
		<ul class="item-list">
			<li class="item {{#if isCurrentPage 'home'}} active {{/if}}">
				<a class="js_main_nav_link" href="/" title="Home">
					<h5>{{> SVGicon name="home"}}&nbsp;<span class="tab-name">Home</span></h5>
				</a>
			</li>
			<li class="item {{#if isCurrentPage 'portfolio'}} active {{/if}}">
				<a class="js_main_nav_link" href="/portfolio" title="Portfolio">
					<h5>{{> SVGicon name="portfolio"}}&nbsp;<span class="tab-name">Portfolio</span></h5>
				</a>
			</li>
			<li class="item">
				<a class="js_email_me" href="?email=true" title="email me">
					<h5>{{>SVGicon name="email"}}&nbsp;<span class="tab-name">Contact me</span></h5>

				</a>
			</li>
			<!-- <li><a href="/about" title="About">About</a></li> -->
			<!-- <li><a href="/blog" title="Blog">Blog</a></li> -->
		</ul>
		{{#if close}}
		<a href="#" class="close-button js_close_menu" title="Menu">
			{{> SVGicon name="cross"}}
		</a>
		{{/if}}
	</nav>
</template>