<template name="navMenu">
	<!-- make animated class -->
	<div class="mini-nav">
		<a tabindex="4" type="button" href="#" title="email me" class="mini-nav-btn js_email_me cta-color">
			{{>SVGicon name="email"}}
		</a>
		<a tabindex="5" type="button" href="#" class="mini-nav-btn js_toggle_menu {{#if icon}} utility-background {{else}} dynamic_color{{/if}}" title="Menu">
			{{#if icon}}
				{{>SVGicon name="menu"}}
			{{else}}
				<h3>{{letters}}</h3>
			{{/if}}
		</a>
		
	</div>
</template>

<template name="menuOverlay">
	<div class="menu-overlay">
		{{>topLevelMenu close="true"}}
		<div class="current-level-navigation">
			<ul class="item-list">
				{{#each category in categories}}
				<li class="item">
					<h5>
						<a class="category-link js_menu_link" href="{{url category}}" title="{{category.title}}">
							<span class="category-initial dynamic_color" data-color="{{category.color}}">{{category.shortCut}}</span>
							<span class="category-name">{{category.titleShort}}</span>
						</a>
					</h5>
					<ul class="item-list">
						{{#each project in projects category}}
						<li class="item">
							<a class="js_menu_link" href="{{url project category}}" title="{{project.title}}">
								<h6>{{project.title}}</h6>
							</a>
						</li>
						{{/each}}
					</ul>
				</li>
				{{/each}}
			</ul>
		</div>
	</div>
</template>

<template name="topLevelMenu">
	<nav class="top-level-navigation utility-background dynamic_color" data-color={{color}}>
		<ul class="item-list">
			<li class="item {{#if isCurrentPage 'home'}} active {{/if}}">
				<a tabindex="1" class="js_main_nav_link js_menu_link menu-item-link" href="/" title="Home">
					<h5>{{> SVGicon name="home"}}&nbsp;<span class="tab-name">Home</span></h5>
				</a>
			</li>
			<li class="item {{#if isCurrentPage 'portfolio'}} active {{/if}}">
				<a tabindex="2" class="js_main_nav_link js_menu_link menu-item-link" href="/portfolio" title="Portfolio">
					<h5>{{> SVGicon name="portfolio"}}&nbsp;<span class="tab-name">Portfolio</span></h5>
				</a>
			</li>
			<li class="item">
				<a tabindex="3" class="js_email_me menu-item-link" href="?email=true" title="email me">
					<h5>{{>SVGicon name="email"}}&nbsp;<span class="tab-name">Contact me</span></h5>

				</a>
			</li>
			{{#if close}}
			<li class="item">
				<a tabindex="4" href="#" class="close-button js_close_menu" title="Close">
					<h5>{{> SVGicon name="cross"}}</h5>
				</a>
			</li>
			{{/if}}
			<!-- <li><a href="/about" title="About">About</a></li> -->
			<!-- <li><a href="/blog" title="Blog">Blog</a></li> -->
		</ul>
		
	</nav>
</template>