<template name="topLevelMenu">
{{#navigationWrap}}
	<nav class="top-level-navigation navigation-bar utility-background">
		<ul class="item-list">
			<li class="item {{#if isCurrentPage 'home'}} active {{/if}}">
				<a tabindex="1" class="js_main_nav_link js_menu_link menu-item-link" href="/" title="Home">
					<h5>{{#if screensize 'md, sm, lg'}}{{> SVGicon name="home"}}&nbsp;{{/if}}<span class="tab-name">Home</span></h5>
				</a>
			</li>
			<li class="item {{#if isCurrentPage 'portfolio'}} active {{/if}}">
				<a tabindex="2" class="js_main_nav_link js_menu_link menu-item-link" href="/portfolio" title="Portfolio">
					<h5>{{#if screensize 'md, sm, lg'}}{{> SVGicon name="portfolio"}}&nbsp;{{/if}}<span class="tab-name">Portfolio</span></h5>
				</a>
			</li>
			<li class="item">
				<a tabindex="3" class="js_email_me menu-item-link" href="?emailOverlay=true" title="email me">
					<h5>{{#if screensize 'md, sm, lg'}}{{>SVGicon name="email"}}&nbsp;{{/if}}<span class="tab-name">Contact me</span></h5>

				</a>
			</li>
			{{#if close}}
			<li class="item align-end">
				<a tabindex="4" href="#" class="js_close_overlay" title="Close">
					<h5>{{> SVGicon name="cross"}}</h5>
				</a>
			</li>
			{{/if}}
		</ul>
		{{>menuActions}}
	</nav>
{{/navigationWrap}}
</template>

<template name="categoryLevelMenu">
{{#navigationWrap}}
	<nav class="category-level-navigation navigation-bar utility-background">
	{{#if readiness}}
		{{#mobileDropdown triggerTitle=pagetitle}}
			{{>topLevelDropdown}}
			<span class="divider">/</span>

			<ul class="item-list category-list">
				{{#each category in categories}}
				<li class="item {{#if isCurrentCategory category.slug}}active{{/if}}" style="background-color:{{category.color}};">
					<a href="{{category.slug}}" class="menu-item-link" title="{{category.title}}">
						<h5><span class="tab-name">{{category.title}}</span></h5>
					</a>
				</li>
				{{/each}}
			</ul>
		{{/mobileDropdown}}
		{{>menuActions}}
	{{/if}}
	</nav>
{{/navigationWrap}}
</template>

<template name="yearLevelMenu">
{{#navigationWrap}}
	<nav class="year-level-navigation navigation-bar utility-background">
	{{#if readiness}}
		{{#mobileDropdown triggerTitle=pagetitle}}
			{{>topLevelDropdown}}
			<span class="divider">/</span>
			<ul class="item-list year-list">
				{{#each year in years}}
				<li class="item year-item {{#if isCurrentYear year.year}}active{{/if}}" style="background-color:{{year.color}};">
					<a href="{{year.year}}" class="menu-item-link" title="{{year.year}}">
						<h5><span class="tab-name">{{year.year}}</span></h5>
					</a>
				</li>
				{{/each}}
			</ul>
		{{/mobileDropdown}}
			
		{{>menuActions}}
	{{/if}}
	</nav>
{{/navigationWrap}}
</template>

<template name="projectLevelMenu">
{{#navigationWrap}}
	<nav class="project-level-navigation navigation-bar dynamic_color" style="background-color:{{color}}">
	{{#if readiness}}
		{{#mobileDropdown triggerTitle=pagetitle}}
			{{>topLevelDropdown}}
			<span class="divider">/</span>
			{{>categoryLevelDropdown}}
			<span class="divider">/</span>
			{{>projectLevelDropdown}}
		{{/mobileDropdown}}
		{{>menuActions}}
	{{/if}}
	</nav>
{{/navigationWrap}}
</template>

<template name="dateLevelMenu"> 
{{#navigationWrap}}
	<nav class="date-level-navigation navigation-bar dynamic_color" style="background-color:{{color}}">
	{{#if readiness}}
		{{#mobileDropdown triggerTitle=pagetitle}}
			{{>topLevelDropdown}}
			<span class="divider">/</span>
			{{>yearsLevelDropdown}}
			<span class="divider">/</span>
			{{>projectLevelDropdown}}
		{{/mobileDropdown}}

		{{>menuActions}}
	{{/if}}
	</nav>
{{/navigationWrap}}
</template>

<template name="projectPageLevelMenu">
{{#navigationWrap}}
	<nav class="project-level-navigation navigation-bar dynamic_color" style="background-color:{{color}}">
	{{#if readiness}}
		{{#mobileDropdown triggerTitle=pagetitle}}
			{{>topLevelDropdown}}
			<span class="divider">/</span>
			{{>categoryLevelDropdown}}
			<span class="divider">/</span>
			{{>projectLevelDropdown}}
			<span class="divider">/</span>
			{{>projectPageLevelDropdown}}
		{{/mobileDropdown}}
		{{>menuActions}}
	{{/if}}
	</nav>
{{/navigationWrap}}
</template>

<template name="datePageLevelMenu">
{{#navigationWrap}}
	<nav class="date-level-navigation navigation-bar dynamic_color" style="background-color:{{color}}">
	{{#if readiness}}
		{{#mobileDropdown triggerTitle=pagetitle}}
			{{>topLevelDropdown}}
			<span class="divider">/</span>
			{{>yearsLevelDropdown}}
			<span class="divider">/</span>
			{{>projectLevelDropdown}}
			<span class="divider">/</span>
			{{>projectPageLevelDropdown}}
		{{/mobileDropdown}}

		{{>menuActions}}
	{{/if}}
	</nav>
{{/navigationWrap}}
</template>

<template name="topLevelDropdown">
	{{#dropdown}}
		{{#dropdownItem}}
			<a class="js_main_nav_link js_menu_link menu-item-link" href="/" title="Home">
				<h5>{{#if screensize 'md, lg'}}{{> SVGicon name="home"}}&nbsp;{{/if}}<span class="tab-name">Home</span></h5>
			</a>
		{{/dropdownItem}}

		{{#dropdownTrigerItem}}
			<a class="js_main_nav_link js_menu_link menu-item-link" href="/portfolio" title="Portfolio">
				<h5>{{#if screensize 'md, lg'}}{{> SVGicon name="portfolio"}}&nbsp;{{/if}}<span class="tab-name">Portfolio</span></h5>
			</a>
		{{/dropdownTrigerItem}}

		{{#dropdownItem}}
			<a class="js_email_me menu-item-link" href="?emailOverlay=true" title="email me">
				<h5>{{#if screensize 'md, lg'}}{{>SVGicon name="email"}}&nbsp;{{/if}}<span class="tab-name">Contact me</span></h5>

			</a>
		{{/dropdownItem}}
	{{/dropdown}}
</template>




<template name="yearsLevelDropdown">
	{{#dropdown}}
		{{#each year in years}}
			{{#if isCurrentYear year.year}}
				{{#dropdownTrigerItem color=year.color}}
					<a class="menu-item-link" href="/portfolio/year/{{year.year}}" title="{{year.year}}">
						<h5><span class="tab-name">{{year.year}}</span></h5>
					</a>
				{{/dropdownTrigerItem}}
			{{else}}
				{{#dropdownItem color=year.color}}
					<a class="menu-item-link" href="/portfolio/year/{{year.year}}" title="{{year.year}}">
						<h5><span class="tab-name">{{year.year}}</span></h5>
					</a>
				{{/dropdownItem}}
			{{/if}}
		{{/each}}
	{{/dropdown}}
</template>

<template name="categoryLevelDropdown">
	{{#dropdown}}
		{{#each category in categories}}
			{{#if isCurrentCategory category.slug}}
				{{#dropdownTrigerItem color=category.color}}
					<a class="menu-item-link" href="/portfolio/{{category.slug}}" title="{{category.title}}">
						<h5><span class="tab-name">{{category.title}}</span></h5>
					</a>
				{{/dropdownTrigerItem}}
			{{else}}
				{{#dropdownItem color=category.color}}
					<a class="menu-item-link" href="/portfolio/{{category.slug}}" title="{{category.title}}">
						<h5><span class="tab-name">{{category.title}}</span></h5>
					</a>
				{{/dropdownItem}}
			{{/if}}
		{{/each}}
	{{/dropdown}}
</template>

<template name="projectLevelDropdown">
	{{#dropdown}}
		{{#each project in projects}}
			{{#if isCurrentProject project.slug}}
				{{#dropdownTrigerItem}}
					<a class="menu-item-link" href="{{url project}}" title="{{project.title}}">
						<h5><span class="tab-name">{{project.title}}</span></h5>
					</a>
				{{/dropdownTrigerItem}}
			{{else}}
				{{#dropdownItem}}
					<a class="menu-item-link" href="{{url project}}" title="{{project.title}}">
						<h5><span class="tab-name">{{project.title}}</span></h5>
					</a>
				{{/dropdownItem}}
			{{/if}}
		{{/each}}
	{{/dropdown}}
</template>

<template name="projectPageLevelDropdown">
	{{#dropdown}}
		{{#each page in pages}}
			{{#if isCurrentPage page.slug}}
				{{#dropdownTrigerItem}}
					<a class="menu-item-link" href="{{url page}}" title="{{page.slug}}">
						<h5><span class="tab-name">{{page.slug}}</span></h5>
					</a>
				{{/dropdownTrigerItem}}
			{{else}}
				{{#dropdownItem}}
					<a class="menu-item-link" href="{{url page}}" title="{{page.slug}}">
						<h5><span class="tab-name">{{page.slug}}</span></h5>
					</a>
				{{/dropdownItem}}
			{{/if}}
		{{/each}}
	{{/dropdown}}
</template>

<template name="menuActions">
	<div class="actions">
		<ul class="item-list action-list">
			<li class="item action-item">
				<a class="js_search menu-item-link" href="?searchOverlay=true" title="Find projects">
					<h5>{{>SVGicon name="search"}}</h5>
				</a>
			</li>
		</ul>
	</div>
</template>

<template name="navigationWrap">
	<div class="navigation-wrap">
		{{>Template.contentBlock}}
	</div>
</template>