// animations and transitions
.landing-page{

	transition-property: background-color;
	transition-duration: $duration*2;
	transition-timing-function: ease-out;

	.slide-text, .slide-link{

		transition-property: color;
		transition-duration: $duration*2;
		transition-timing-function: ease-out;

	}

	.slide{

		.svg-graphics{
			&.animate-in{
				@include fadeIn($duration:$duration*2);
			}
		}
	}
}

.gallery{
	.item{
		a:hover, a:focus {
			box-shadow: 0 0 $space rgba($black-copy, .5);
			transform: translate(-$space/4, -$space/4) scale(1.05);
		}

		h4{
			background-color: rgba($black-copy, .5);
		}
	}
}

// animation and transitions

.dynamic_color, .background-container{
	transition-property: background-color;
	transition-duration: $duration*2;
	transition-timing-function: ease-out;
}

.background{
	transition-property: background-position;
	transition-duration: $duration/2;
	transition-timing-function: ease-out;
}

.page-overlay{
	transition-property: width, height;
	transition-duration: $duration/2;
	transition-timing-function: ease-out;
}

a{
	transition-property: color, transform, box-shadow;
	transition-duration: $duration/2;
	transition-timing-function: ease-in-out;
	&.dynamic_color{
		transition-property: background-color, color, transform;;
		transition-duration: $duration;
		transition-timing-function: ease-in-out;
	}
}

.gallery .item a{
	&, *{
		transition-property: transform, box-shadow, width;
		transition-duration: $duration/2;
		transition-timing-function: ease-in-out;
	}
}

.nav-hint{
	.svg-icon{
		&.animate-in{
			@include zoomIn($duration:$duration);
			// @for $i from 1 through 10 {
			// 	&:nth-child(1n+#{$i}){
			// 		@include delay($delay:$delay*$i);
			// 	}
			// }
		}
	}
}

.nav-plate{
	&.animate-in{
		@include slideInRight($duration:$duration);
	}

	&.animate-out{
		@include slideOutRight($duration:$duration);

	}
}


.portfolio-cover{

	.issue-plate{
		.nav-plate{
			&.animate-in{
				@include animation-name(zoomInLeft);
			}
		}
	}

	.navigation-plate{
		.nav-plate{
			&.animate-in{
				@include animation-name(zoomInRight);
			}
		}
	}

	.nav-plate{
		&.animate-in{
			@media screen and (max-width: $fg-sm -1) {
				@include animation-name(zoomInUp);			
			}
		}
	}
}

.category-level-navigation{
	.item{
		&.animate-in{
			@include slideInUp($duration:$duration);
		}
	}
}

.category-cover{
	.summary{
		&.animate-in{
			@include slideInLeft($duration:$duration);
		}
	}
}

.gallery .item{
	&.animate-in{
		@include fadeIn($duration:$duration);
	}
}

.content-plate{
	&.animate-in{
		@include slideInUp($duration:$duration);
	}
	&.animate-out{
		@include slideOutDown($duration:$duration);

	}
}



.email-overlay{
	&.animate-in{
		@include fadeIn($duration:$duration);
		.dialog{
			@include slideInDown($duration:$duration, $delay:$duration);
		}
	}
	&.animate-out{
		@include fadeOut($duration:$duration);	
		.dialog{
			@include slideOutUp($duration:$duration, $delay:$duration);
		}
	}

}


.dialog{
	&.animate-out:not(.animate-sent){
		@include slideOutUp($duration:$duration, $delay:$duration);
	}
	&.email-dialog{
		&.animate-in{
			@include slideInDown($duration:$duration, $delay:$duration);	
		}
		&.animate-sent{
			@include lightSpeedOut($duration:$duration);
			&.animate-error{
				@include bounceInRight($duration:$duration);		
			}
		}
		&.animate-error{
			@include shake($duration:$duration*2, $delay:$duration);
		}
	}
	&.success-dialog{
		&.animate-in{
			@include slideInRight($duration:$duration);	
		}
	}
}

.navigation-wrap{
	&.animate-in{
		@include slideInRight($duration:$duration);
	}
	&.animate-out{
		@include slideOutLeft($duration:$duration);
	}
}


.loading{
	&.animate-in{

		@include fadeIn($duration);

	}
	&.animate-out{

		@include fadeOutDown($duration);

	}
}

.page{
	&.animate-in{

		@include fadeIn($duration:$duration);

		&.up{
			@include animation-name(slideInDown);
		}
		&.down{
			@include animation-name(slideInUp);
		}
		&.left{
			@include animation-name(slideInRight);
		}
		&.right{
			@include animation-name(slideInLeft);
		}
	}
	&.animate-out{
		@include fadeOut($duration:$duration);

		&.up{
			@include animation-name(slideOutDown);
		}
		&.down{
			@include animation-name(slideOutUp);
		}
		&.left{
			@include animation-name(slideOutRight);
		}
		&.right{
			@include animation-name(slideOutLeft);
		}
	}
}

.dropdown{
	.dropdown-content{
		.dropdown-item{
			@include fadeIn($duration:$duration);
		}

		&.collapsed{
			.dropdown-item:not(.active){
				@include fadeOut($duration:$duration);
			}
		}
	}
}

