// animations and transitions
.landing-page{

	transition-property: background-color;
	transition-duration: $duration*2;
	transition-timing-function: ease-out;

	.slide-text, .slide-link{

		transition-property: color;
		transition-duration: $duration*2;
		transition-timing-function: ease-out;

	}

	.slide{

		.svg-graphics{
			&.animate-in{
				@include fadeIn($duration:$duration*2);
			}
		}
	}

	// .slide{
	// 	.svg-graphics{
	// 		@include slideInLeft ($duration:$duration);
	// 		// @include count (infinite);
	// 	}

	// 	.slide-text{
	// 		@include slideInDown ($duration:$duration);
	// 		// @include count (infinite);
	// 	}

	// 	.slide-btn{
	// 		@include slideInUp ($duration:$duration);
	// 		// @include count (infinite);
	// 	}

	// 	&.animate-out{
	// 		.svg-graphics{
	// 			@include slideOutLeft ($duration:$duration);
	// 			// @include count (infinite);
	// 		}

	// 		.slide-text{
	// 			@include slideOutUp ($duration:$duration);
	// 			// @include count (infinite);
	// 		}

	// 		.slide-btn{
	// 			@include slideOutDown ($duration:$duration);
	// 			// @include count (infinite);
	// 		}
	// 	}
	// }
}


// animation and transitions

.dynamic_color, .background-container{
	transition-property: background-color;
	transition-duration: $duration*2;
	transition-timing-function: ease-out;
}

.background{
	transition-property: background-position;
	transition-duration: $duration/2;
	transition-timing-function: ease-out;
}

.page-overlay{
	transition-property: width, height;
	transition-duration: $duration/2;
	transition-timing-function: ease-out;
}

a{
	transition-property: color, transform, box-shadow;
	transition-duration: $duration/2;
	transition-timing-function: ease-in-out;
	&.dynamic_color{
		transition-property: background-color, color, transform;;
		transition-duration: $duration;
		transition-timing-function: ease-in-out;
	}
}

.gallery .item a{
	&, *{
		transition-property: transform, box-shadow, width;
		transition-duration: $duration/2;
		transition-timing-function: ease-in-out;
	}
}


.mini-nav {
	&.animate-in{
		@include slideInRight($duration:$duration);
		.mini-nav-btn{
			@for $i from 1 through 10 {
				&:nth-child(1n+#{$i}){
					@include slideInRight($duration:$duration, $delay:$delay/$i);
				}
			}
		}
	}

	&.animate-out{
		@include slideOutRight($duration:$duration);
	}
}

.nav-hint{
	.svg-icon{
		&.animate-in{
			@include zoomIn($duration:$duration);
			// @for $i from 1 through 10 {
			// 	&:nth-child(1n+#{$i}){
			// 		@include delay($delay:$delay*$i);
			// 	}
			// }
		}
	}
}

.nav-plate{
	&.animate-in{
		@include slideInRight($duration:$duration);
	}

	&.animate-out{
		@include slideOutRight($duration:$duration);

	}
}


.portfolio-cover{

	.issue-plate{
		.nav-plate{
			&.animate-in{
				@include animation-name(zoomInLeft);
			}
		}
	}

	.navigation-plate{
		.nav-plate{
			&.animate-in{
				@include animation-name(zoomInRight);
			}
		}
	}

	.nav-plate{
		&.animate-in{
			@media screen and (max-width: $fg-sm -1) {
				@include animation-name(zoomInUp);			
			}
		}
	}
}

.category-level-navigation{
	.item{
		&.animate-in{
			@include slideInUp($duration:$duration);
		}
	}
}

.category-cover{
	.summary{
		&.animate-in{
			@include slideInLeft($duration:$duration);
		}
	}
}

.gallery .item{
	&.animate-in{
		@include fadeIn($duration:$duration);
	}
}

.content-plate{
	&.animate-in{
		@include slideInUp($duration:$duration);
	}
	&.animate-out{
		@include slideOutDown($duration:$duration);

	}
}



.email-overlay{
	&.animate-in{
		@include fadeIn($duration:$duration);
		.dialog{
			@include slideInDown($duration:$duration, $delay:$duration);
		}
	}
	&.animate-out{
		@include fadeOut($duration:$duration);	
		.dialog{
			@include slideOutUp($duration:$duration, $delay:$duration);
		}
	}

}


.dialog{
	&.animate-out:not(.animate-sent){
		@include slideOutUp($duration:$duration, $delay:$duration);
	}
	&.email-dialog{
		&.animate-in{
			@include slideInDown($duration:$duration, $delay:$duration);	
		}
		&.animate-sent{
			@include lightSpeedOut($duration:$duration);
			&.animate-error{
				@include bounceInRight($duration:$duration);		
			}
		}
		&.animate-error{
			@include shake($duration:$duration*2, $delay:$duration);
		}
	}
	&.success-dialog{
		&.animate-in{
			@include slideInRight($duration:$duration);	
		}
	}
}

.menu-overlay{
	&.animate-in{
		@include fadeInRight($duration:$duration);
	}
	&.animate-out{
		@include fadeOutLeft($duration:$duration);
	}
}

.top-level-navigation{
	&.animate-in{
		@include slideInRight($duration:$duration);
	}
	&.animate-out{
		@include slideOutLeft($duration:$duration);
	}
}


.loading{
	&.animate-in, &{

		@include fadeIn($duration);

	}
	&.animate-out{

		@include slideOutUp($duration);

	}
}

// .page{
// 	// .content-plate, .category-title{
// 	// 	@include slideInLeft($duration:$duration);
// 	// }
// 	.animate-off-screen:not(.animate-in-progress){
// 		display: none;
// 	}

// 	.animate-in{
// 		.mini-nav{
// 			@include slideInDown($duration:$duration);
// 		}
// 		.mini-nav-btn{
// 			@include slideInRight($duration:$duration);
// 			@for $i from 1 through 10 {
// 				&:nth-child(1n+#{$i}){
// 					@include delay($delay/$i + $duration/$i);
// 				}
// 			}
// 		}
// 	}

// 	.animate-out{
// 		.mini-nav{
// 			@include slideOutUp($duration:$duration);
// 		}
// 		.mini-nav-btn{
// 			@include slideOutRight($duration:$duration);
// 			@for $i from 1 through 10 {
// 				&:nth-child(1n+#{$i}){
// 					@include delay($delay*$i/2);
// 				}
// 			}
// 		}
// 	}
// 	.gallery{
// 		&, &.animate-in{
// 			.item{
// 				@include fadeIn($duration:$duration);

// 				@for $i from 1 through 20 {
// 					&:nth-child(1n+#{$i}){
// 						@include delay($delay*$i);
// 					}
// 				}
// 			}
// 		}
// 		&.animate-out{
// 			.item{
// 				@include fadeOut($duration:$duration);
				
// 				@for $i from 1 through 20 {
// 					&:nth-child(1n+#{$i}){
// 						@include delay($delay/$i);
// 					}
// 				}
// 			}	
// 		}
// 	}
// 	.project-cover, .project-page{
// 		.content-plate{
// 			&, &.animate-in{
// 				@include slideInUp($duration:$duration);
// 				&.full-height{
// 					@include duration($duration*2);
// 				}
// 			}
// 			&.animate-out{
// 				@include slideOutDown($duration:$duration);
// 				&.full-height{
// 					@include duration($duration*2);
// 				}
// 			}
// 		}
// 		.date-container{
// 			&, &.animate-in{
// 				@include slideInDown($duration:$duration);
// 			}
// 			&.animate-out{
// 				@include slideOutUp($duration:$duration);
// 			}
// 		}
// 		.nav-container{
// 			.nav-plate{
// 				@include slideInRight($duration:$duration);
// 				@for $i from 0 through 2 {
// 					&:nth-child(1n+#{$i}){
// 						@media screen and (min-width: $fg-sm) {
// 							@include delay($delay + $delay/2 * $i);
// 						}
// 					}
// 				}
// 			}
// 			.title-plate{
// 				@include slideInRight($delay:$delay*2, $duration:$duration);
// 				@media screen and (min-width: $fg-sm) {
// 					@include delay($delay);
// 				}
// 			}

			
// 			.title-plate, .nav-plate, .mini-nav-btn{
// 				@media screen and (max-width: $fg-sm - 1) {
// 					@include animation-name(slideInDown);
// 					@include delay($delay);
// 				}
// 			}
// 		}
// 	}
// 	.category-cover{

// 		&.animate-in{
// 			.item-list{
// 				.item{
// 					@include slideInDown($delay:$delay, $duration:$duration);
// 					@for $i from 1 through 10 {
// 						&:nth-child(1n+#{$i}){
// 							@include delay($delay*$i + $duration/2);
// 						}
// 					}
// 				}
// 			}

// 			.summary{
// 				@include slideInLeft($delay:$delay*2, $duration:$duration);
// 			}
// 		}

// 		&.animate-out{
// 			.item-list{
// 				.item{
// 					@include slideOutUp($delay:$delay, $duration:$duration);
// 					@for $i from 2 through 10 {
// 						&:nth-child(1n+#{$i}){
// 							@include delay($delay/$i);
// 						}
// 					}
// 				}
// 			}
// 		}
		
// 	}
// 	.background{
// 		&, &.animate-in{
// 			@include fadeIn($duration:$duration, $delay:$delay);
// 		}
// 		&.animate-out{
// 			@include fadeOut($duration:$duration, $delay:$delay);
// 		}
// 	}
// 	.back-cover{
// 		.keep-in-touch{
// 			&.animate-sent{
// 				@include lightSpeedOut($duration:$duration);
// 				&.animate-error{
// 					@include bounceInRight($duration:$duration);		
// 				}
// 			}
// 			&.animate-error{
// 				@include shake($duration:$duration*2, $delay:$duration);
// 			}
// 		}
// 	}
// }

