.back-cover{
	@extend .fg-col-xs;
	min-height: 100%;
	align-items: stretch;
	justify-content:space-around;


	.nav-container{
		@extend .fg-col-xs-12;
		@extend .fg-col-sm-6;
		width: 100%;
		flex-grow:1;
		flex-shrink:0;
		align-self: flex-end;
		align-items:flex-end;
		@media screen and (max-width: $fg-sm - 1) {
			flex-basis: 100%;
			align-self:stretch;
			align-items:stretch;
		}
		.mini-nav{
			width: 100%;
		}
		// @media screen and (min-width: $fg-md - 1) {
		// 	align-self: stretch;
		// 	align-items:stretch;
		// }
		// flex-basis:100%;
		// flex-shrink:0;
	}

	.copy-right{
		@extend .fg-col-xs-12;
		flex-grow:1;
		align-self: flex-start;
		margin-bottom: 0;
		margin-top: auto;
		justify-content:flex-end;
		h6{
			display: inline-flex;
			align-items:center;
		}
	}

	.gratitude, .exits{
		@extend .fg-col-xs-12;
		// @extend .fg-col-sm-11;
		// @extend .fg-off-sm-1;
		// @extend .fg-col-md-10;
		// @extend .fg-off-md-2;
		@media screen and(min-width: $fg-sm) {
			width: 64%;
			// margin-left: 18%;
			margin-left: auto;
			margin-right: auto;
		}

		// background-color: red;

		flex-grow:1;
		// margin-top: auto;
		// margin-bottom: auto;


	}

	.gratitude{
		h1{
			margin-bottom: $space;
			margin-top: $space*4;
			text-align: center;
		}
		p{
			@extend .fg-col-xs-12;
			// @extend .fg-col-sm-8;
			text-align: center;
		}
	}

	.exits{
		// *{
		// 	width: 100%;
		// }
		.start-over{
			text-align: center;
		}
	}
}

.back-cover{
	.gratitude{
		
	}
	.exits{
		.start-over{
			margin-top: $space*2;
			@media screen and (min-height: 481px) {
				margin-top: $space*4;	
			}

			
		}
	}
	.copy-right{
		margin-bottom: $space;
		.svg-icon{
			margin-right: $space/2;
		}
	}
}