.email-overlay{
	@extend .page;
	@extend .fg-row;
	position: absolute;
	top:0;
	// left:0;
	background-color: rgba($black-copy, .75);
	z-index: 10;
	width: auto;
	min-width: 100vw;
	min-height: 100%;
}


// animations
.email-overlay{
	&.animate-in{
		@include fadeIn($duration:$duration);
		.dialog{
			@include slideInDown($duration:$duration, $delay:$duration);
		}
	}
	&.animate-out{
		@include fadeOut($duration:$duration);	
		.dialog{
			@include slideOutUp($duration:$duration, $delay:$duration);
		}
	}

}

// animations

.dialog{
	&.animate-out:not(.animate-sent){
		@include slideOutUp($duration:$duration, $delay:$duration);
	}
	&.email-dialog{
		&.animate-in{
			@include slideInDown($duration:$duration, $delay:$duration);	
		}
		&.animate-sent{
			@include lightSpeedOut($duration:$duration);
			&.animate-error{
				@include bounceInRight($duration:$duration);		
			}
		}
		&.animate-error{
			@include shake($duration:$duration*2, $delay:$duration);
		}
	}
	&.success-dialog{
		&.animate-in{
			@include slideInRight($duration:$duration);	
		}
	}
}

