.err-page{

	@extend .fg-col-xs;
	text-align: center;
	justify-content: center;
	@media screen and (max-width: $fg-sm - 1) {
		font-size: 80%;
	}
	@for $i from 1 through 6 {
		h#{$i}{
			// font-size: 300% - $i * 20%;
			margin-bottom: $i * .15em;
		}
	}

	>*{

		margin: 0 auto;

	}

	#circleView{
		
		position: relative;
		margin-top: 1em;
		width: 8em;
		height: 8em;
		@media screen and (min-width: $fg-sm) {
			font-size: 150%;
		}

		>*{

			left: 0;
			right: 0;
			top:0;
			bottom: 0;
			width: 100%;
			height: 100%;
			position: absolute;

		}

		.svg-icon{
			
			z-index: 20;
			color: $black-copy;
			
			&,*{

				pointer-events: none;

			}

			.icon-use{

				margin-top: 2em;
				width: 4em;
				height: 4em;
				border-bottom: 3px solid $black-copy;

			}

		}

		#goHome{

			background-color: white;
			border-radius: 100%;
			z-index: 10;
			transition-property: transform;
			transition-duration: $duration;
			transition-timing-function: ease-in;

			&::after,&::before{

				background-color: white;
				position: absolute;
				width: 100%;
				height: 100%;
				border-radius: 100%;
				display: block;
				content: '';
				top:0;
				left: 0;
				z-index: -1;
				opacity: .5;
				@include duration($duration*16);

			}

			&,&::after,&::before,span{

				@include animation-name(oneWaylambada);
				@include count(infinite);
				@include duration($duration*8);
				@include function(linear);

			}

			&:after{

				@include animation-direction(reverse);

			}

			&:hover{

				transform: scale(2);

			}

			&:active{

				transform: scale(10);

			}
		}
	}
}

@include keyframes(oneWaylambada) {

	0%,100%{

		transform: rotate(0deg)
					translate(-5px)
					rotate(0deg);

	}
	50%{

		transform:rotate(360deg)
					translate(-5px)
					rotate(-360deg);

	}
}
