.hint-overlay{
	
	@extend .page;
	
	position: absolute;
	top:0;
	// left:0;
	background-color: rgba($black-copy, .75);
	z-index: 10;
	width: auto;
	width: 100vw;
	height: 100%;
	pointer-events:none;

	.hint-icon{
		@extend .fg-col-xs;
		font-size: 600%;
		@media screen and (max-width: $fg-md) {
			font-size: 300%;
		}
		text-align: center;
		flex-grow:1;
		justify-content:flex-end;
	}

	.hint-text{
		@extend .fg-col-xs;
		font-size: 400%;
		@media screen and (max-width: $fg-md) {
			font-size: 200%;
		}
		text-align: center;
		flex-grow:1;
		justify-content:flex-start;
		font-family: $headings-font-family;
	}

	a{
		display: block;
	}
}