body{
	#SVG_symbols {
		position: absolute;
		left: 0;
		top: 0;
		visibility: hidden;
		opacity: 0;
		width: 0;
		height: 0;
		overflow: hidden;
		line-height: 0;
	}
	.svg-icon{
		display: inline-block;
		.icon-use{
			width: 2em;
			height: 2em;
			// fill:#fff;
			// color:#fff;
		}
	}
}