// layout
.landing-page{

	@extend .fg-col-xs;
	justify-content:flex-start;
	
	.top-level-navigation{
		flex-grow:0;
		flex-shrink:0;

	}

	.slide{

		@extend .fg-col-xs;
		flex-grow:1;
		align-items: center;
		justify-content: center;
		@media screen and (max-width: $fg-md - 1) {
			flex-basis: 100%;
		}
		@media screen and (min-width: $fg-md) {
			flex-wrap: wrap;
			max-height: calc(100vh - #{$space*10});
		}
		// overflow: hidden;

		.svg-graphics, .slide-text{

			@extend .fg-col-xs-12;
			@extend .fg-col-sm-6;
			@media screen and (max-width: $fg-md - 1) {
				max-height: calc(70vh - #{$space*10});
				flex-basis: auto;
			}

		}

		.svg-graphics{

			justify-content: center;
			flex-grow:2;
			@media screen and (min-width: $fg-md) {
				max-height: calc(100vh - #{$space*10});
				flex-basis: 100vh;
				flex-shrink:0;
				
			}


		}

		.slide-text{

			@extend .fg-col-xs;
			flex-grow:1;
			justify-content: flex-end;
			max-height: 70%;

		}

		.slide-btn{

			@extend .fg-col-xs-12;
			@extend .fg-col-lg-6;
			flex-shrink:0;
			flex-grow:1;
			align-self:center;
			text-align: center;
			max-height: 3em;
			@media screen and (max-width: $fg-lg - 1) {
				align-self: stretch;
			}
			@media screen and (max-width: $fg-md - 1) {
				max-height: 6em;
			}

			.slide-link-btn{
				display: inline-flex;
				justify-content:space-between;
				align-items:center;
			}

			
		}

		&.wide-image{
			flex-wrap: wrap;
			
			.svg-graphics, .slide-text{
				
				@extend .fg-col-xs-12;
				flex-basis: 50%;
				max-height: 40%;
				max-height: calc(40vh - #{$space*6});

				@media screen and (max-width: $fg-md - 1) and (orientation: landscape) {
					max-height: 60%;
					max-height: calc(60vh - #{$space*6});
				}
				

			}

			.svg-graphics {

				flex-grow:2;

			}

			.slide-text, .slide-btn {

				flex-grow:1;

			}

			.slide-text{

				align-items: center;
				flex-direction:row;
				flex-wrap: wrap;
				@media screen and (max-height: 530px) {
					max-height: calc(40vh - #{$space*2})
				}

				// justify-content: center;
				>*{

					@extend .fg-col-xs-12;
					@extend .fg-col-sm-6;

				}
				
				h3{

					// align-self: baseline;

				}


			}

			.slide-btn{

				@extend .fg-col-sm-6;


			}
		}

		&.text-first{

			.slide-text{

				order:1;

			}
			.slide-btn{

				order:2;

			}

			.svg-graphics{

				order:3;

			}

			@media screen and (max-width: $fg-md - 1) {
				.svg-graphics{

					order:2;

				}

				.slide-btn{

					order:3;

				}
			}

		}

		&.single-image{

			@media screen and (max-width: $fg-md -1) {
				justify-content: flex-start;			
			}

			.svg-graphics{

				order:1;
				max-height: 80%;
				max-height: calc(90vh - #{$space*10});

			}

			.slide-btn{

				order:2;

			}

		}
	}
	.slide-pagination{

		@extend .fg-col-sm-12;
		flex-shrink:0;
		@media screen and (min-width: $fg-md - 1) {
			min-height: 2em;		
		}
		// align-self:flex-end;

		.pgn-list{

			justify-content: space-around;
			margin: 0 auto;
			@media screen and (min-width: $fg-md) {
				justify-content: center;
			}

			.pgn-item{

				min-width: 2.25em;
				@media screen and (min-width: $fg-md) {
					margin-left: $space;
				}
				&::after{
					display: none;
				}

			}
		}
	}	
}

// font- and sizing
.landing-page {

	.slide {

		font-size: 200%;
		@media screen and (max-width: $fg-md - 1) {
			font-size: 120%;
		}

		&.wide-image{
			.slide-text{
				h3{

					font-size: 270%;

				}
			}
		}

		.slide-text {

			h3 {
			
				font-family: $font-family-serif;
				font-weight: bold;

			}

		}

		.slide-link-btn{

			font-weight: bold;
			letter-spacing: .1em;
			word-spacing: .1em;

		}
	}
}

// internal spacing
.landing-page {

	.slide {

		@media screen and (min-width: $fg-md) {
			padding: $space;
			margin-top: $space*2;
		}

		.svg-graphics{
			@media screen and (max-width: $fg-md) and (orientation:portrait) {
				margin-top: $space;
			}
			padding-bottom: $space;
		}

		.slide-text{

			>*{

				@media screen and (min-width: $fg-md) {
					padding: $space;
				}

			}

		}

		.slide-btn{
			// @media screen and (max-width: $fg-md - 1) {
				padding-top: $space;
			// }

			@media screen and (min-width: $fg-md) {
				margin-left: $space;
				margin-right: $space;
			}
		}

	}
}

// styles and states
.landing-page {

	background-color: $body-bg;

	#replay_button{
		cursor: pointer;
	}

	.slide-pagination {

		.pgn-list {

			.pgn-item {

				a {

					color: $black-copy;
					opacity:1;

				}

				&:not(.active) {

					a {

						opacity: .25;

					}
				}
			}
		}
	}
}

// animations and transitions
.landing-page{

	transition-property: background-color;
	transition-duration: $duration*2;
	transition-timing-function: ease-out;

	.slide-text, .slide-link{

		transition-property: color;
		transition-duration: $duration*2;
		transition-timing-function: ease-out;

	}

	.slide{
		.svg-graphics{
			@include slideInLeft ($duration:$duration);
			// @include count (infinite);
		}

		.slide-text{
			@include slideInDown ($duration:$duration);
			// @include count (infinite);
		}

		.slide-btn{
			@include slideInUp ($duration:$duration);
			// @include count (infinite);
		}

		&.animate-out{
			.svg-graphics{
				@include slideOutLeft ($duration:$duration);
				// @include count (infinite);
			}

			.slide-text{
				@include slideOutUp ($duration:$duration);
				// @include count (infinite);
			}

			.slide-btn{
				@include slideOutDown ($duration:$duration);
				// @include count (infinite);
			}
		}
	}
}
