// layout
.landing-page{

	@extend .fg-col-xs;
	justify-content:space-between;
	
	.top-level-navigation{
		flex-grow:0;
		flex-shrink:0;
	}

	.slide{

		@extend .fg-col-xs;
		flex-grow:1;
		align-items: center;
		justify-content: center;
		@media screen and (max-width: $fg-sm - 1) {
			flex-basis: 100%;
		}
		@media screen and (min-width: $fg-sm) {
			flex-wrap: wrap;
		}
		// overflow: hidden;

		.svg-graphics, .slide-text{

			@extend .fg-col-xs-12;
			@extend .fg-col-sm-6;

		}

		.svg-graphics{

			@media screen and (max-width: $fg-sm - 1) {
				max-height: 60%;
				max-height: calc(70vh - #{$space*10});
			}
			@media screen and (min-width: $fg-sm) {
				max-height: 90%;
				max-height: calc(100vh - #{$space*10});
			}

		}

		.slide-text{

			@extend .fg-col-xs;
			flex-grow:0;

		}

		.slide-btn{

			@extend .fg-col-xs-12;
			align-self:stretch;
			text-align: center;


		}

		&.wide-image{
			flex-wrap: wrap;
			
			.svg-graphics, .slide-text{
				
				@extend .fg-col-xs-12;
				flex-basis: 50%;
				flex-grow:0;
				max-height: 40%;
				max-height: calc(40vh - 10rem);

			}

			.slide-text{

				align-items: baseline;
				flex-direction:row;
				flex-wrap: wrap;

				>*{

					@extend .fg-col-xs-12;
					@extend .fg-col-sm-6;

				}

			}

			.slide-btn{

				@extend .fg-col-sm-6;


			}
		}

		&.text-first{

			.slide-text{

				order:1;

			}

			.svg-graphics{

				order:3;

			}

			.slide-btn{

				order:2;

			}

			@media screen and (max-width: $fg-sm - 1), screen and (orientation: portrait) {
				.svg-graphics{

					order:2;

				}

				.slide-btn{

					order:3;

				}
			}

		}

		&.single-image{

			@media screen and (max-width: $fg-sm -1) {
				justify-content: flex-start;			
			}

			.svg-graphics{

				order:1;
				max-height: 80%;
				max-height: calc(90vh - #{$space*10});

			}

			.slide-btn{

				order:2;

			}

		}
	}
	.slide-pagination{

		@extend .fg-col-sm-12;
		flex-shrink:0;
		// align-self:flex-end;

		.pgn-list{

			justify-content: space-around;
			margin: 0 auto;
			@media screen and (min-width: $fg-sm) {
				justify-content: flex-end;
			}

			.pgn-item{

				min-width: 2.25em;
				@media screen and (min-width: $fg-sm) {
					margin-left: $space;
				}
				&::after{
					display: none;
				}

			}
		}
	}	
}

// font- and sizing
.landing-page {

	.top-level-navigation{
		@media screen and (max-width: $fg-sm - 1) {
			font-size: 80%;
		}
	}

	.slide {

		font-size: 200%;
		@media screen and (max-width: $fg-sm - 1) {
			font-size: 120%;
		}

		.slide-text {

			h3 {
			
				font-family: $font-family-serif;
				font-weight: bold;

			}

		}

		.slide-link-btn{

			font-weight: bold;

		}
	}
}

// internal spacing
.landing-page {

	.slide {

		@media screen and (min-width: $fg-sm) {
			padding: $space;
		}

		.slide-text{

			>*{

				@media screen and (min-width: $fg-sm) {
					padding: $space;
				}

			}

		}

		.slide-btn{
			// @media screen and (max-width: $fg-sm - 1) {
				margin-top: $space;
			// }
		}

	}
}

// styles and states
.landing-page {

	background-color: $body-bg;

	.slide-link-btn{

		background-color: $cta-background;
		color: $cta;

	}

	.slide-pagination {

		.pgn-list {

			.pgn-item {

				a {

					color: $black-copy;
					opacity:1;

				}

				&:not(.active) {

					a {

						opacity: .25;

					}
				}
			}
		}
	}
}

// animations and transitions
.landing-page{

	transition-property: background-color;
	transition-duration: $duration*2;
	transition-timing-function: ease-out;

	.slide-text, .slide-link{

		transition-property: color;
		transition-duration: $duration*2;
		transition-timing-function: ease-out;

	}
}