.main-layout{

	background-color:black;
	min-height: 100vh;
	position: relative;	
	width: 100vw;
	overflow: hidden;	
	z-index: 0;

	h1,h2,h3,h4,h5,h6{

		margin: 0;
		padding: 0;

		font-weight: 300;

	}

	// font-sizing
	@media screen and (max-width: $fg-sm - 1)  {
		font-size: 80%;
	}

	@media screen and (max-width: $fg-md - 1) {
		font-size: 90%;
	}

	@media screen and (max-height: 600px) {
		font-size: 70%;
	}


	@media screen and (max-height: 500px) {
		font-size: 60%;
	}

	@media screen and (min-width: $fg-lg)  {
		font-size: 120%;
	}

	@for $i from 1 through 6 {
		h#{$i}{

			font-size: 300% - $i * 30%;

		}
	}

	.page{
		overflow-y: auto;
	}

	a[type=button]{

		padding: $space;
		text-decoration: none;			

		&:hover,&:focus{
			box-shadow: -1px 1px 15px rgba(#000, .25);
			transform: scale(1.05);
		}
		&:active{
			box-shadow: 1px -1px 15px rgba(#000, .25);
			transform: scale(0.95);
		}

	}

	a{
		&:hover, &:focus{
			&[href]{
				cursor: pointer;
			}
		}
		&:not([href]){
			opacity: .5;
		}
	}

	// background images container
	.background-container{
		position: fixed;
		min-width: 100%;
		max-height: 100%;
		height: inherit;
		margin-top: inherit;
		overflow: hidden;
		z-index: -1;
		top:auto;
		right: -$fg-gutter;
		bottom: 0;
		left: -$fg-gutter;

		.background{
			display: block;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center 25%;
		}
	}

	.category-title{

		h2{

			margin-left: $space;

		}
	}
	.text{

		margin: $space;
		padding-bottom: $space;

		
		p{
			margin-bottom: 0;
		}

	}

	

	.date-container{
		font-size: 80%;
		position: relative;	
		@media screen and (max-width: $fg-lg - 1) {
			margin-left: $space;
			.icon-use{
				margin-left: -$space/2;	
			}
		}

		@media screen and (min-width: $fg-lg) {
			.icon-use{
				margin-left: $space/2;
			}
		}
	}

	.content-plate{

		.text{

			font-size: 120%;

		}

	}

	.navigation-wrap{
		font-size: 50%;
	}

}