.navigation-wrap{
  position: fixed;
  top:0;
  min-width: 100%;
  left: $fg-gutter;
  right: $fg-gutter;
  z-index: 1;

  &.menu-open{
    @media screen and (max-width: $fg-sm - 1) {
      height: 100vh;
      overflow-y: scroll;
      left: 0;
    }
  }
}

.navigation-bar{
  @extend .fg-row;
  flex-wrap:nowrap;
  min-width: 100%;
  padding: $space;
  padding-bottom: 0;

  @media screen and (max-width: $fg-sm - 1) {
    padding: $space/2;
  }
  @media screen and (max-width: $fg-sm - 1) {
    font-size: 80%;
  }
  
  

  .divider{
    // @extend h5;
    color: $white;
    display: inline-flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    min-width: .7em;
    margin-left: -.1em;
    font-family: $headings-font-family;
    font-weight: 300;
    font-size: 4em;
  }

  .item-list{
    @extend .fg-row;
    flex-wrap: nowrap;
    @media screen and (max-width: $fg-sm - 1 ) {
      flex-grow:1
    }
    .item{
      position: relative;

      @media screen and (max-width: $fg-sm - 1 ) {
        flex-grow:1;
        align-self:stretch;
      }

      &::before{
        position: absolute;
        width: 0;
        height: 100%;
        content: '';
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        border-bottom: solid 3px transparent;
        transition-property: width, background-color, border-bottom-color;
        transition-duration: $duration/2;
        transition-timing-function: ease-in-out;
      }
      >*{
        position: relative;
        z-index: 1;
      }

      &.active{
        &::before{
          width: 100%;
          background-color: rgba($black-copy,.25);
          border-bottom-color: $black-copy;
        }
        a{
          pointer-events:none;
        }
      }
      &:not(.active){
        &:hover{
          &::before{
            width: 100%;
            border-bottom-color: $white;
          }
          a{
            @extend a:hover;
          }
        }
        &:active{
          &::before{
            background-color: rgba($white,.25);
            border-bottom-color: $white;
          }
        }
      }

      &:first-child{

      }

      &.align-end{
        margin-right: 0;
        margin-left: auto;
      }

      a{
        &,&:hover{
          text-decoration: none;
        }
      }

      .menu-item-link{
        min-width: 2em;
        width: 100%;
        height: 100%;
        padding: $space;
        align-items:center;
        justify-content: center;
        @media screen and (max-width: $fg-sm - 1) {
          justify-content:flex-start;
        }
        display: flex;
        h5{
          @extend .fg-row;
          flex-wrap: nowrap;
          align-items: center;
        }
      }

    }
  }

  .dropdown{
    min-height: 100%;
    // align-items:stretch;
    .dropdown-content{
      
      align-items: stretch;

      // flex-wrap:wrap;
      .item{
        flex-shrink:0;
        flex-grow: 0;
        align-items: center;
        justify-content:flex-start;
        display: flex;

        &.active::before{
          background-color: transparent;
        }
        a{
          pointer-events: all;
        }
      }
    }
  }
  
  .actions{
    @extend .fg-col-xs-4;
    @extend .fg-col-sm-2;
    // flex-grow:0;
    // flex-shrink:0;
    // flex-basis: auto;
    margin-left: auto;
    margin-right: 0;
    .action-list{
      min-height: 100%;
    }
  }
}

.top-level-navigation, .category-level-navigation, .project-level-navigation, .year-level-navigation{
  .item-list{
    .item{
      display: flex;
      align-items:center;
      flex-grow:1;
      @media screen and (max-width: $fg-sm - 1 ) {
        justify-content: center;
      }
    }
  }
}

.top-level-navigation{
  .menu-item-link{
    h5{
      text-align: center;
      justify-content: center;
      @media screen and (max-width: $fg-sm - 1 ) {
        flex-direction: column;
      }
    }
  }
}