.mini-nav{

  @extend .fg-row;
  justify-content:flex-end;
  .mini-nav-btn{
    @extend .fg-col-xs-6;
    @extend .fg-col-sm-3;
    min-width: $space * 5;
  }

  &.btns-3 .mini-nav-btn{
    @extend .fg-col-xs-4;
    @extend .fg-col-sm-2;
  }

  @media screen and (min-width: $fg-sm) {
    margin-top: $space;
  }

}



// configure overlay layout
.menu-overlay {

  @extend .page;
  @extend .active-overlay;
  background-color: $white;

}

//top level menu layout
.top-level-navigation{

  @extend .fg-row;

  .item-list{
    // @extend .fg-col-xs-12;
    @extend .fg-row;
    flex-grow:1;
    @media screen and (max-width: $fg-sm - 1 ) {
      justify-content: center;
    }

    .item{
      @media screen and (max-width: $fg-sm - 1 ) {
        flex-grow:1;
        flex-basis:25%;
      }

      &.align-end{
        margin-right: 0;
        margin-left: auto;
      }

      a{
        display: block;
      }

      .menu-item-link h5{

        @extend .fg-row;
        text-align: center;
        align-items: center;
        @media screen and (max-width: $fg-sm - 1 ) {
          flex-direction: column;
        }

      }

    }
  }
}

//internal navigation layout
.current-level-navigation {

  overflow-y:auto;
  height: calc(100vh - 6rem - 1em);

  .item-list {

    @extend .fg-row;
    
    .item {

      @extend .fg-col-xs-12;
      @extend .fg-col-sm-3;

      .item-list {

        // flex-direction: column;

        .item {

          @extend .fg-col-xs-12;
          @extend .fg-col-sm-12;

        }
      }
    }
  }
}

//internal navigation spacing
.current-level-navigation {
  margin-top: $space*2;
  padding: $space;

  .item {
    margin-bottom: $space;
    .category-link {
      
      .category-initial {
        padding: $space / 2;
      }
      .category-name {
        margin-left: -.1em;
      }
    }
    .item-list{
      .item{
        margin-top: $space/2;
        &:first-child{
          margin-top: $space;  
        }
      }
    }
  }
}

//top level menu spacing
.top-level-navigation{
  padding: $space;
  padding-bottom: 0;
  @media screen and (max-width: $fg-sm - 1) {
    padding: $space/2;
  }
  .item-list{
    .item{
      padding: $space;
      @media screen and (max-width: $fg-sm - 1) {
        padding: $space/2;
      }
    }
  }
  .close-button{
    padding: $space;
    @media screen and (max-width: $fg-sm - 1) {
      padding: $space/2;
    }
  }
}

// styles and satates
.top-level-navigation{
  @media screen and (max-width: $fg-sm - 1) {
    font-size: 60%;
  }
  .item{
    border-bottom: solid 3px transparent;
    &.active{
      background-color: rgba($black-copy,.25);
      border-bottom-color: $black-copy;
      // box-shadow: inset 0 0 5px rgba($black-copy, .5);
      
    }
    &:not(.active){
      &:hover{
        border-bottom-color: $white;
      }
      &:active{
        background-color: rgba($white,.25);
        border-bottom-color: $white;
      }
    }

    a{
      &,&:hover{
        text-decoration: none;
      }
    }
  }
}

.current-level-navigation {

  a {
    color: $black-copy;
  }

  .item {
    .category-link {
      .category-initial {
        // font-size: 3em;
        color: $white;
      }

      .category-name {
        // font-size: 2.5em;
      }
    }
  }
}