.item-list{

	list-style: none;
	margin-bottom: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;

}

.pgn-list{

	@extend .fg-row;
	justify-content: flex-end;
	text-align: center;	

	.pgn-item, .pgn-action{

		@extend .fg-col-xs-1;
		position: relative;
		max-width: none;

		&::after{
			// @extend .fg-row;
			width: 100%;
			left:0;
			top:100%;
			// margin-left: -1 * $fg-gutter;
			position: absolute;
			content: "\2022";
			color: $white;
		}

		&.active{

			&::after{

				content: "\2014";

			}
			a{
				
				opacity: .5;
				text-decoration: none;

			}
		}
		&:not(.active){
			
			&, &::after, & a{

				cursor: pointer;

			}

			&:hover{

				&::after{
					
					content: "\25b2";

				}
			}
		}
	}
}


.preloading{
	background-color: black;
}

.loading{

	$cube-side: 50px;
	$cube-gutter: $cube-side/10;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: block;
	position: relative;

	.loader-container{

		$size: $cube-side*3 + $cube-gutter*6;
		width: $size;
		height: $size;
		// position: absolute;
		margin: 0 auto;
		margin-top: 30%;
		@media screen and (min-height: $size*6) {
			margin-top: calc(50% - #{$size*1.5});
		}
		@include animation-name (loading);
		@include count(infinite);
		@include duration(1.1s);
		@include function(linear);

		.cube{

			background-color: gray;
			width: $cube-side;
			height: $cube-side;
			margin: $cube-gutter;
			float: left;
			@include animation-name (loading);
			@include count(infinite);
			@include duration(1s);
			@include function(linear);
			@include animation-direction(reverse);

		}
	}
}

// loading state animation

@include keyframes(loading) {
	0%{

		transform: rotate(360deg) scale(1);
		opacity: .5

	}
	50%{

		transform: rotate(180deg) scale(.25);
		opacity: 1;

	}
	100%{

		transform: rotate(0deg) scale(1);
		opacity: .5

	}
}


#SVG_defs {

	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	line-height: 0;

}

.svg-icon{

	display: inline-block;

	.icon-use{

		width: 2em;
		height: 2em;
		// fill:$white;
		// color:$white;
	}
}

.svg-graphics{
	svg{
			
		max-width: 100%;
		max-height: 100%;
		margin: 0 auto;
		// width: 100%;
		// height: 100%;

		&.orientation-portrait{
			// height: auto;

		}

		&:not(.orientation-portrait){
			// width: auto;

		}
	}
}


.active-overlay{

	@extend .page;
	position: fixed;
	overflow: auto;
	top:0;
	left:0;
	right:0;
	background-color: rgba($black-copy, .75);
	z-index: 10;
	width: auto;
	min-width: 100vw;
	max-height: 100vh;
	min-height: 100%;

}


body{
	>svg{
		display: none;
	}
}