$fold-height:70vh;

// configure layout
.page{

	background-color:black;
	min-height: 100vh;
	position: relative;	
	width: 100vw;
	overflow: hidden;	
	z-index: 0;
	box-sizing:border-box;

	.content{

		@extend .fg-col-xs-12;
		@extend .fg-col-sm-6;

	}

	.nav-container{

		@extend .fg-col-xs-12;
		@extend .fg-col-sm-6;
		@extend .fg-row;

	}


	// background images container
	.background-container{
		position: absolute;
		width: 100vw;
		// @media screen and (min-width: $fg-sm) {
			// height: $fold-height;		
		// }
		// @media screen and (max-width: $fg-sm - 1) {
			min-height: 100vh;
		// }
		height: 100%;
		overflow: hidden;
		z-index: -1;
		top:0;
		right: 0;
		bottom: 0;
		left: 0;

		.background{
			display: block;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
	}

	.category-cover{

		@extend .fg-row;
		@media screen and (min-width: $fg-sm) {
			min-height: 50vh;
		}

		.content{

			@extend .fg-col-xs;
			@extend .fg-col-xs-12;
			@extend .fg-col-sm-6;
			@media screen and (max-width: $fg-sm - 1) {
				order:2;
			}

			.category-title, .content-plate{

				@extend .fg-col-xs-12;
				@extend .fg-col-sm-12;
				// flex-grow:0;
				// flex-shrink:0;
				flex-basis:auto;

			}
		}

		.nav-container{

			@media screen and (max-width: $fg-sm - 1) {
				order:1;
			}

			.category-level-navigation{
				overflow-y: hidden;
			}

			nav{

				margin-right: -0.5rem;

				.item-list{

					@media screen and (max-width: $fg-sm - 1) {
						display: none;
					}
					@extend .fg-col-sm-12;
					@extend .fg-col-xs;
					align-items:stretch;

					.item{

						@extend .fg-off-sm-6;

						a{

							width: 100%;
							display: block;

						}
					}
				}
			}
		}
	}

	.portfolio-cover{
		@extend .fg-row;
		@media screen and (min-width: $fg-sm) {
			height: 100vh;
		}
		position: relative;
		@media screen and (max-width: $fg-sm - 1) {
			flex-direction:column;
			min-height: 100vh;			
		}

		.relative-nav{

			@extend .fg-col-xs;
			flex-basis: 50%;
			flex-grow:1;
			@media screen and (min-width: $fg-sm) and (max-width: $fg-lg - 1) {
				justify-content: flex-end;
				align-items: flex-end;
			}
			@media screen and (min-width: $fg-lg) {
				justify-content: flex-end;
				align-items: flex-start;
			}

			.nav-plate{

				@extend .fg-col-xs-10;
				@extend .fg-off-xs-1;
				@extend .fg-col-sm-8;
				@extend .fg-off-sm-4;
				@extend .fg-col-lg-10;
				@extend .fg-off-lg-1;
				flex-basis: auto;
				width: 100%;

				h3{
					@media screen and (max-width: $fg-sm - 1) {
						text-align: center;
					}
				}

			}
		}

		.nav-hint{
			p{
				@media screen and (max-width: $fg-sm - 1) {
					text-align: center;
				}
			}
		}

		.content, .nav-container{
			@media screen and (max-width: $fg-sm - 1) {
				flex-basis: 50%;
			}
		}
		.content{
			@extend .fg-col-xs;
			justify-content:space-between;
			@media screen and (max-width: $fg-sm - 1) {
				flex-grow:2;
			}
			.cover-title{
				@extend .fg-off-lg-1;
			}
			.issue-plate{

				@media screen and (min-width: $fg-sm) {
					min-height: 50vh;
				}
				@media screen and (max-width: $fg-sm - 1) {
					flex-grow:1;
					min-height: 33vh;
				}
				@extend .fg-row;
				flex-direction:column;
				justify-content:space-between;
				flex-wrap: nowrap;

				.date-container, .nav-hint{

					@extend .fg-col-xs-10;
					@extend .fg-off-lg-1;
					// @extend .fg-off-xs-1;
					width: 100%;

				}

				.date-container{

					flex-basis: 50%;
					flex-grow:1;

				}

				.nav-hint{
					flex-basis: auto;
					flex-grow:0;
				}

				.nav-plate{

					@extend .fg-off-xs-1;
					@extend .fg-off-sm-0;
					@extend .fg-off-lg-1;
					// @extend .fg-off-xs-1;
					// margin-left: 0;
					// margin-right: auto;
					align-self:flex-start;

					h3{
						@media screen and (min-width: $fg-sm) {
							// text-align: right;
						}
					}

				}
			}
		}

		.nav-container{
			@extend .fg-col-xs;
			@media screen and (min-width: $fg-sm) {
				justify-content: flex-end;
			}

			.navigation-plate{
				@media screen and (min-width: $fg-sm) {
					min-height: 50vh;				
				}
				@media screen and (max-width: $fg-sm - 1) {
					flex-grow:1;
				}
				@extend .fg-row;
				flex-direction:column;
				justify-content:center;
				flex-wrap: nowrap;
				.nav-hint{
					@extend .fg-col-xs-10;
					@extend .fg-off-xs-1;
					@extend .fg-col-sm-8;
					@extend .fg-off-sm-4;
					@extend .fg-col-lg-10;
					@extend .fg-off-lg-1;

					flex-basis: auto;
					flex-grow:0;

					width: 100%;
					
				}

			}

		}
	}

	.back-cover{
		@extend .fg-col-xs;
		min-height: 100vh;
		align-items: stretch;
		justify-content:space-between;


		.nav-container{
			@extend .fg-col-xs-12;
			@extend .fg-col-sm-6;
			width: 100%;
			flex-grow:1;
			flex-shrink:0;
			align-self: flex-end;
			align-items:flex-end;
			@media screen and (max-width: $fg-sm - 1) {
				flex-basis: 100%;
				align-self:stretch;
				align-items:stretch;
			}
			.mini-nav{
				width: 100%;
			}
			// @media screen and (min-width: $fg-md - 1) {
			// 	align-self: stretch;
			// 	align-items:stretch;
			// }
			// flex-basis:100%;
			// flex-shrink:0;
		}

		.copy-right{
			@extend .fg-col-xs-12;
			flex-grow:1;
			align-self: flex-start;
			margin-bottom: 0;
			margin-top: auto;
			justify-content:flex-end;
			h6{
				display: inline-flex;
				align-items:center;
			}
		}

		.gratitude, .exits{
			@extend .fg-col-xs-12;
			// @extend .fg-col-sm-11;
			// @extend .fg-off-sm-1;
			// @extend .fg-col-md-10;
			// @extend .fg-off-md-2;
			@media screen and(min-width: $fg-sm) {
				width: 64%;
				// margin-left: 18%;
				margin-left: auto;
				margin-right: auto;
			}

			// background-color: red;

			flex-grow:1;
			margin-top: auto;
			margin-bottom: auto;


		}

		.gratitude{
			h1{
				text-align: center;
			}
		}

		.exits{
			// *{
			// 	width: 100%;
			// }
			.start-over{
				text-align: center;
			}
		}

	}

	.project-cover, .project-page{
		@extend .fg-row;
		min-height: 100vh;
		@media screen and (max-width: $fg-sm - 1) {
			flex-direction: column;
			justify-content:space-between;
			overflow-y: auto;
			height: auto;
			flex-basis:0;
			&+.background-container{
				height: calc(100vh - 59px * 2);
				top: 59px*2;
			}
		}
		// main content container
		.content{
			@extend .fg-col-xs;
			justify-content:space-between;
			@media screen and (max-width: $fg-sm - 1) {
				order: 2;
				flex-basis:100%;
				flex-grow:4;
			}
			.date-container{
				position: relative;
			}
			.content-plate{

				min-width: 100%;
				align-self: flex-start;
				justify-content:space-between;

				&.full-height{

					@extend .fg-col-xs;
					@media screen and (max-width: $fg-sm - 1) {
						flex-basis: auto;
					}

					&::after{

						content: ' ';
						display: block;
						position: absolute;
						width: 100%;
						height: 100%;
						top:0;
						bottom: 0;
						left: -$space/2;
						z-index: -1;

					}

					.text{
						// @extend .fg-col-xs;
						// justify-content: center;
						// align-items:
					}

					.more{

						flex-shrink:1;
						align-items: flex-end;

					}
				}

				.image-container{

					position: relative;

					.date{

						position: absolute;
						top:0;
						left: 0;
						max-width: 100%;

					}
				}

				.more{
					// @extend .fg-row;
					@extend .fg-col-xs-12;
					flex-direction:row;
					justify-content: flex-end;
					.pgn-list{
						flex-grow:1;
						align-items:center;
					}
					.learn-more-btn{
						align-self:flex-end;
					}
				}
			}
		}

		// navigation content container

		.nav-container{
			@extend .fg-col-xs;
			justify-content: space-between;
			align-items: stretch;
			@media screen and (max-width: $fg-sm - 1) {
				order:1;
				flex-direction:row;
				flex-wrap:wrap;
				flex-basis:auto;
				justify-content:space-around;
				flex-grow:0;
			}
			.mini-nav{
				@media screen and (max-width: $fg-sm - 1) {
					order:1;
					align-self:flex-start;
					flex-basis:100%;
				}
			}
			.relative-nav{
				// align-self:flex-end;
				@media screen and (min-width: $fg-sm) {
					margin: auto 0 0 0;
				}
				@media screen and (max-width: $fg-sm - 1) {
					display: flex;
					flex-direction:row;
					order:3;
					flex-basis: 100%;
				}
				.nav-plate{
					@extend .fg-col-xs-6;
					@extend .fg-col-sm-2;
					@extend .fg-off-sm-10;

					@media screen and (max-width: $fg-sm - 1) {
						text-align: center;
					}
				}


			}
			.title-container{
				@media screen and (max-width: $fg-sm - 1) {
					order:2;
					flex-grow:2;
					align-self: flex-end;

				}
				@media screen and (min-width: $fg-sm) {
					display: flex;
					align-items:flex-end;
				}

				.title-plate{
					@extend .fg-col-xs-12;
					@extend .fg-col-sm-8;
					@extend .fg-off-sm-4;


				}
			}
		}
	}
	.project-page{
		&+.background-container{
			.background{
					background-size: 50% auto;
					background-position: right center;
			}
		}
	}

	.gallery{
		width: 100%;
		.grid{
			@extend .fg-row;
		}
		.item{
			
			@extend .fg-col-xs-5;
			@extend .fg-col-sm-3;
			a{
				position: relative;
			}

			&:nth-child(even){

				@extend .fg-off-xs-2;
				@extend .fg-off-sm-0;

			}

			h4{

				position: absolute;
				width: 100%;

			}

			.hint{

				position: absolute;
				text-align: center;
				top: 50px;

			}
			.icon{

				position: absolute;
				bottom: 0;
				right: $fg-gutter;
				width: 2em;
				height: 2em;
				font-size: 2em;
				text-align: center;
				line-height: 200%;

				.svg-icon{

					font-size: 60%;
					padding: 1rem;

				}
			}
		}
	}


	// .portfolio-feed{
	// 	.background-container{
	// 		min-height: $fold-height;
	// 		height: $fold-height;
	// 	}

	// 	.portfolio-cover, .category-cover{
	// 		height: $fold-height;
	// 	}

	// 	.portfolio-cover{
	// 		.issue-plate, .navigation-plate{
	// 			min-height: $fold-height/2;
	// 			max-height: $fold-height/2;
	// 		}
	// 	}

	// 	.section-container{

	// 	}
	// }
}


// font size
.page{

	@media screen and (max-width: $fg-sm - 1)  {
		font-size: 80%;
	}

	@media screen and (max-width: $fg-md - 1) {
		font-size: 90%;
	}

	@media screen and (max-height: 600px) {
		font-size: 70%;
	}


	@media screen and (max-height: 500px) {
		font-size: 60%;
	}

	@media screen and (min-width: $fg-lg)  {
		font-size: 120%;
	}

	// .top-level-navigation{

	// 	@media screen and (max-width: $fg-sm - 1)  {
	// 		font-size: 100%;
	// 	}

	// }

	@for $i from 1 through 6 {
		h#{$i}{

			font-size: 300% - $i * 30%;

		}
	}

	.nav-hint{

		font-size: 150%;

	}
	.date{

		font-size: 70%;

	}
	.content-plate{

		.text{

			font-size: 120%;

		}

	}

	// .summary .text p{
	// 	white-space: pre;
	// }

	.gallery{

		@media screen and (max-width: $fg-sm - 1)  {
			font-size: 70%;
		}

	}

	.copy-right{
		.svg-icon{
			font-size: .6em;
			// line-height: 50%;
		}
	}

	.title-plate{
		h3{
			@media screen and (min-width: $fg-sm) {
				font-size: 150%;
			}
		}
	}
}


// innternal spacing

.page{

	h1,h2,h3,h4,h5,h6{

		margin: 0;
		padding: 0;

		font-weight: 300;

	}

	.category-title{

		h2{

			margin-left: $space;

		}
	}
	.text{

		margin: $space;
		padding-bottom: $space;

		
		p{
			margin-bottom: 0;
		}

	}

	a[type=button]{

		padding: $space;

	}

	.date-container{
		@media screen and (max-width: $fg-lg - 1) {
			margin-left: $space;
			.icon-use{
				margin-left: -$space/2;	
			}
		}

		@media screen and (min-width: $fg-lg) {
			.icon-use{
				margin-left: $space/2;
			}
		}
		
	}

	.nav-container{

		@media only screen and (min-width: $fg-sm){
			.title-plate{
				margin-bottom: $space;
			}
			.nav-plate{
				margin-bottom: $space;
			}
		};
		// @media only screen and (max-width: $fg-sm - 1){
		.title-plate, .nav-plate{
			padding-top: $space;
			padding-bottom: $space;

		}


		// }
	}
	.mini-nav-btn, .category-level-navigation .item-list .item a{
		text-indent: $space;
		// @media only screen and (max-width: $fg-sm - 1){
		// }
	}
	.category-cover{
		.content{
			margin-top: $space;

		}
		.nav-container{
			@media only screen and (min-width: $fg-sm){
				margin-bottom: $space;
			}
			.mini-nav{
				margin-top: 0;
			}
			.mini-nav-btn{
				@media only screen and (min-width: $fg-sm - 1){
					&:first-child{
						margin-top: 0;
					}
				}
			}
			.item-list .item{
				@media only screen and (min-width: $fg-sm - 1){
					&:first-child{
						margin-top: $space;
					}
				}
			}
		}
		.background-container{
			padding: $space;
		}
	}
	.gallery{
		padding: $space;
		.item{
			margin-bottom: $space;
			
			
			a{

				overflow: hidden;
				display: block;
				width: 100%;

				h4{
					// margin-right: $fg-gutter;
					// margin-left: $fg-gutter;
					// margin-bottom: 0;
					padding-top: $space;
					text-align: center;
					// width: 100%;
					// display: inline-block;
					// width: calc(100% - #{$space/2});
					// max-width: 100%;
				}
			}
			
		}
	}
	.portfolio-cover{
		.cover-title{
			h1,h2{

				margin-left: $space;

			}
			h1,h2,hr{

				margin-top: $space/2;
				margin-bottom: $space/2;

			}
		}
		.issue-plate{
			.nav-hint{

				margin-left: $space;
				p{
					@media screen and (min-width: $fg-sm) and (max-width: $fg-lg - 1) {
						margin-left: -$space/2;
					}

					@media screen and (min-width: $fg-lg) {
						margin-left: $space/2;
					}
				}

			}

			.relative-nav{
				padding-left: 0;
				.nav-plate{
					// margin-left: -$space;
					margin-bottom: $space;
					padding-left: $space;
					padding-right: $space;

					h3{
						@media screen and (min-width: $fg-sm) {
							margin-left: $space/4;
						}
					}
				}
			}
		}
		.navigation-plate{
			.nav-hint{
				p{
					@media screen and (min-width: $fg-sm) {
						margin-left: $space/2;
					}
				}
			}
			.relative-nav{
				@media screen and (max-width: $fg-sm - 1) {
					margin-top: $space;
				}

				.nav-plate{
					padding-left: $space;
					padding-right: $space;
				}
			}
		}
	}
	.project-cover, .project-page{

		.learn-more-btn{

			margin-bottom: $space/2;
			margin-right: -$space/4;

		}
		.more{

			@media screen and(min-width: $fg-sm) {
				margin-bottom: $space/2;
				padding-bottom: .1em
			}

			@media screen and(max-width: $fg-sm - 1) {
			    margin-bottom: 2rem;
			}

			

		}
		.content-plate.full-height{
			.more{

				margin-left: -$space/4;
				margin-right: -$space/4;

				.pgn-list{
				
					padding-bottom: $space;
					margin-bottom: $space/2;

				}
			}
		}
		.pgn-list{

			padding-bottom: $space/3;
			padding-right: $space;

		}

		.nav-container{
			.title-container{
				.title-plate{
					@media screen and (min-width: $fg-sm) {
						padding-left: $space;
					}
				}
			}
			
			.relative-nav{
				.nav-plate{
					@media screen and (min-width: $fg-sm) {
						padding-left: $space;
					}
				}
			}
		}
	}

	.back-cover{
		.gratitude{
			h1{
				margin-bottom: $space;
			}
		}
		.exits{
			.start-over{
				margin-top: $space*2;
				@media screen and (min-height: 481px) {
					margin-top: $space*4;	
				}

				
			}
		}
		.copy-right{
			margin-bottom: $space;
			.svg-icon{
				margin-right: $space/2;
			}
		}
	}
}


// style and states

.page{
	.cta-background{
		background-color: $cta-background;
	}

	.cta-color{
		@extend .cta-background;
		
		color: $white;
		// @warn lightness($cta);
		// @warn saturation($cta);

		&:hover, &:active{

			color: $cta;

		}
	}

	.utility-background{
		background-color: $utility;
	}
	.secondary-btn{
		border: 1px solid $white;
	}

	.white-background{
		background-color: $white;
	}

	.cover-title{
		color: $white;
	}
	.learn-more-btn{
		background-color: $black-copy;
		letter-spacing: .1em;
	}
	a{
		color: $white;

		&:hover{
			// color: ;
			// text-decoration: none;
			&[href]{
				cursor: pointer;
			}
		}
		&:not([href]){
			// color: gray;
			// color: transparent;
			opacity: .5;
		}
		&[type=button]{
			&,&:hover{
				text-decoration: none;			
			}
		}
	}
	.category-level-navigation .item-list .item {
		&.active{
			z-index: 1;
			a{
				box-shadow: -2px 2px 30px rgba(#000, .5);
				transform: scale(1.25);
			}
		}
		&:not(.active){
			&:hover{
				a{
					box-shadow: -1px 1px 15px rgba(#000, .25);
					transform: scale(1.05);

				}
				
			}
			&:active{
				a{
					box-shadow: 1px -1px 15px rgba(#000, .25);
					transform: scale(1,.9);
				}
			}
		}
	}
	a[type=button]{
		&:hover{
			box-shadow: -1px 1px 15px rgba(#000, .25);
			transform: scale(1.05);
		}
		&:active{
			box-shadow: 1px -1px 15px rgba(#000, .25);
			transform: scale(1,.75);
		}
	}

	.category-cover{
		.content-plate.summary{
			box-shadow: 0 0 $space rgba($black-copy, .5);
			background-color: rgba($white, .25);
		}
	}

	.project-page{

		.content-plate.full-height{
		
			&::after{
		
				background-color: $white;

			}

			.pgn-list {

				&, *{

					&, &::after, &::before{

						color: $black-copy;

					}
				}
			}
		}
	}

	.gallery{
		.item{
			a:hover {
				box-shadow: 0 0 $space rgba($black-copy, .5);
				// &, >*{
					transform: translate(-$space/4, -$space/4) scale(1.05);
					// h4{
						// width: 100%;
					// }
				// }

			}

			h4{
				// text-shadow: $space/8 $space/8 $space*2 $black-copy;
				background-color: rgba($black-copy, .5);
				// transform-origin: ;
			}
		}
	}
}

