// configure layout
.page{

	background-color:black;
	min-height: 100vh;
	position: relative;	
	width: 100vw;
	overflow: hidden;	
	z-index: 0;
	box-sizing:border-box;

	.content{

		@extend .fg-col-xs-12;
		@extend .fg-col-sm-6;

	}

	.nav-container{

		@extend .fg-col-xs-12;
		@extend .fg-col-sm-6;

	}

	.mini-nav{

		@extend .fg-row;
		justify-content:flex-end;
		.mini-nav-btn{
			@extend .fg-col-xs-6;
			@extend .fg-col-sm-3;
			min-width: $space * 5;
		}

	}

	// background images container
	.background-container{
		position: absolute;
		width: 100vw;
		min-height: 100vh;
		height: 100%;
		overflow: hidden;
		z-index: -1;
		top:0;
		right: 0;
		bottom: 0;
		left: 0;

		.background{
			display: block;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
	}

	.category-cover{

		@extend .fg-row;
		@media screen and (min-width: $fg-sm) {
			min-height: 50vh;
		}

		.content{

			@extend .fg-col-xs;
			@extend .fg-col-xs-12;
			@extend .fg-col-sm-6;
			@media screen and (max-width: $fg-sm - 1) {
				order:2;
			}

			.category-title, .content-plate{

				@extend .fg-col-xs-12;
				@extend .fg-col-sm-12;
				flex-grow:0;
				flex-shrink:1;

			}
		}

		.nav-container{

			@media screen and (max-width: $fg-sm - 1) {
				order:1;
			}

			nav{

				margin-right: -0.5rem;

				.item-list{

					@media screen and (max-width: $fg-sm - 1) {
						display: none;
					}
					@extend .fg-col-sm-12;
					@extend .fg-col-xs;
					align-items:stretch;

					.item{

						@extend .fg-off-sm-6;

						a{

							width: 100%;
							display: block;

						}
					}
				}
			}
		}
	}

	.portfolio-cover{
		@extend .fg-row;
		min-height: 100vh;
		position: relative;
		@media screen and (max-width: $fg-sm - 1) {
			flex-direction:column;
		}
		.content, .nav-container{
			@media screen and (max-width: $fg-sm - 1) {
				flex-basis: 50%;
			}
		}
		.content{
			@extend .fg-col-xs;
			justify-content:space-between;
			.cover-title{
			}
			.issue-plate{
				@media screen and (min-width: $fg-sm) {
					min-height: 50vh;				
				}
				@media screen and (max-width: $fg-sm - 1) {
					flex-grow:1;
					min-height: 33vh;
				}
				@extend .fg-row;
				flex-direction:column;
				// @extend .fg-col-xs-12;
				justify-content:center;
				.date-container, .nav-hint{
					@extend .fg-col-xs-10;
					@extend .fg-off-xs-1;
					// @extend .fg-col-sm-10;
					// @extend .fg-off-sm-1;
					// flex-basis:0;
					// flex-grow:1;
				}
			}
		}

		.nav-container{
			@extend .fg-col-xs;
			@media screen and (min-width: $fg-sm) {
				justify-content: space-between;
			}

			.navigation-plate{
				@media screen and (min-width: $fg-sm) {
					min-height: 50vh;				
				}
				@media screen and (max-width: $fg-sm - 1) {
					flex-grow:1;
				}
				@extend .fg-row;
				flex-direction:column;
				// @extend .fg-col-xs-12;
				justify-content:center;
				.relative-nav{
					.nav-plate{
						@extend .fg-col-xs-10;
						@extend .fg-off-xs-1;
						@extend .fg-col-sm-6;
						@extend .fg-off-sm-6;
						
						
					}
				}
				.nav-hint{
					@extend .fg-col-xs-10;
					@extend .fg-off-xs-1;
					@extend .fg-col-sm-12;
					// @extend .fg-off-sm-6;
					// flex-basis:0;
				}
			}
			// align-self: flex-end;
			// flex-grow:0;
		// 
		}
	}

	.project-cover, .project-page{
		@extend .fg-row;
		min-height: 100vh;
		@media screen and (max-width: $fg-sm - 1) {
			flex-direction: column;
			justify-content:space-between;
			overflow-y: auto;
			height: auto;
			flex-basis:0;
			&+.background-container{
				height: calc(100vh - 59px * 2);
				top: 59px*2;
			}
		}
		// main content container
		.content{
			@extend .fg-col-xs;
			justify-content:space-between;
			@media screen and (max-width: $fg-sm - 1) {
				order: 2;
				flex-basis:100%;
				flex-grow:4;
			}
			.date-container{
				position: relative;
			}
			.content-plate{

				min-width: 100%;
				align-self: flex-start;
				justify-content:space-between;

				&.full-height{

					@extend .fg-col-xs;
					@media screen and (max-width: $fg-sm - 1) {
						flex-basis: auto;
					}

					&::after{

						content: ' ';
						display: block;
						position: absolute;
						width: 100%;
						height: 100%;
						top:0;
						bottom: 0;
						left: -$space/2;
						z-index: -1;

					}
					.more{

						flex-shrink:1;
						align-items: flex-end;

					}
				}

				.image-container{

					position: relative;

					.date{

						position: absolute;
						top:0;
						left: 0;
						max-width: 100%;

					}
				}

				.more{
					// @extend .fg-row;
					@extend .fg-col-xs-12;
					flex-direction:row;
					justify-content: flex-end;
					.pgn-list{
						flex-grow:1;
						align-items:center;
					}
					.learn-more-btn{
						align-self:flex-end;
					}
				}
			}
		}

		// navigation content container

		.nav-container{
			@extend .fg-col-xs;
			justify-content: space-between;
			align-items: stretch;
			@media screen and (max-width: $fg-sm - 1) {
				order:1;
				flex-direction:row;
				flex-wrap:wrap;
				flex-basis:auto;
				justify-content:space-around;
				flex-grow:0;
			}
			.mini-nav{
				@media screen and (max-width: $fg-sm - 1) {
					order:1;
					align-self:flex-start;
					flex-basis:100%;
				}
			}
			.relative-nav{
				// align-self:flex-end;
				@media screen and (min-width: $fg-sm) {
					margin: auto 0 0 0;
				}
				@media screen and (max-width: $fg-sm - 1) {
					display: flex;
					flex-direction:row;
					order:3;
					flex-basis: 100%;
				}
				.nav-plate{
					@extend .fg-col-xs-6;
					@extend .fg-col-sm-2;
					@extend .fg-off-sm-10;

					@media screen and (max-width: $fg-sm - 1) {
						text-align: center;
					}
				}


			}
			.title-container{
				@media screen and (max-width: $fg-sm - 1) {
					order:2;
					flex-grow:2;
					align-self: flex-end;
				}
				.title-plate{
					@extend .fg-col-xs-12;
					@extend .fg-col-sm-8;
					@extend .fg-off-sm-4;

				}
			}
		}
	}
	.project-page{
		&+.background-container{
			.background{
				@media screen and (max-width: $fg-sm - 1) {
					background-size: 200% auto;
				}
			}
		}
	}

	.gallery{
		width: 100%;
		.grid{
			@extend .fg-row;
		}
		.item{
			
			@extend .fg-col-xs-5;
			@extend .fg-col-sm-3;
			position: relative;

			&:nth-child(even){

				@extend .fg-off-xs-2;
				@extend .fg-off-sm-0;

			}

			h4{

				position: absolute;
				width: 100%;

			}

			.hint{

				position: absolute;
				text-align: center;
				top: 50px;

			}
			.icon{

				position: absolute;
				bottom: 0;
				right: $fg-gutter;
				width: 2em;
				height: 2em;
				background-color: $utility;
				font-size: 2em;
				text-align: center;
				line-height: 200%;

				.svg-icon{

					font-size: 60%;
					padding: 1rem;

				}
			}
		}
	}
}


// font size
.page{

	@media screen and (max-width: $fg-sm - 1)  {
		font-size: 80%;
	}

	.top-level-navigation{

		@media screen and (max-width: $fg-sm - 1)  {
			font-size: 100%;
		}

	}

	@for $i from 1 through 6 {
		h#{$i}{

			font-size: 300% - $i * 30%;

		}
	}
	.nav-hint{

		font-size: 150%;

	}
	.date{

		font-size: 70%;

	}
	.content-plate{

		.text{

			font-size: 120%;

		}

	}

	.gallery{

		@media screen and (max-width: $fg-sm - 1)  {
			font-size: 70%;
		}

	}
}


// innternal spacing

.page{

	h1,h2,h3,h4,h5,h6{

		margin: 0;
		padding: 0;

	}

	.category-title{

		h2{

			margin-left: $space;

		}
	}
	.text{

		margin: $space;
		padding-bottom: $space;

	}

	a[type=button]{

		padding: $space;

	}

	.nav-container{

		@media only screen and (min-width: $fg-sm){
			.title-plate{
				margin-bottom: $space;
			}
			.nav-plate{
				margin-bottom: $space;
			}
		};
		// @media only screen and (max-width: $fg-sm - 1){
		.title-plate, .nav-plate{
			padding-top: $space;
			padding-bottom: $space;

			@media only screen and (min-width: $fg-sm){
				text-indent: $space;
			}
		}
		// }
	}
	.mini-nav-btn, .category-level-navigation .item-list .item a{
		text-indent: $space;
		// @media only screen and (max-width: $fg-sm - 1){
		// }
	}
	.category-cover{
		.content{
			margin-top: $space;
		}
		.nav-container{
			@media only screen and (min-width: $fg-sm){
				margin-bottom: $space;
			}
			.mini-nav-btn{
				@media only screen and (min-width: $fg-sm - 1){
					&:first-child{
						margin-top: 0;
					}
				}
			}
			.item-list .item{
				@media only screen and (min-width: $fg-sm - 1){
					&:first-child{
						margin-top: $space;
					}
				}
			}
		}
		.background-container{
			padding: $space;
		}
	}
	.gallery{
		padding: $space;
		.item{
			margin-bottom: $space;
			h4{
				margin-left: -$fg-gutter;
				margin-bottom: 0;
				margin-top: $space;
				text-align: center;
			}
		}
	}
	.portfolio-cover{
		.cover-title{
			h1,h2{

				margin-left: $space;

			}
			h1,h2,hr{

				margin-top: $space/2;
				margin-bottom: $space/2;

			}
		}
		.issue-plate{
			.nav-hint{

				margin-left: $space;

			}

			.date-container{
				margin: $space;
			}
		}
		.navigation-plate{
			.nav-hint{

			}
		}
	}
	.project-cover, .project-page{
		.mini-nav{
		
			@media only screen and (min-width: $fg-sm - 1){
				margin-top: $space;			
			}

		}

		.learn-more-btn{

			margin-bottom: $space/2;
			margin-right: -$space/4;

		}
		.more{

			@media screen and(max-width: $fg-sm - 1) {
			    margin-bottom: 2rem;
			}

		}
		.content-plate.full-height{
			.more{

				margin-left: -.5rem;
				margin-right: -.5rem;

			}
		}
		.pgn-list{

			padding-bottom: $space;
			padding-right: $space;

		}
	}
}


// style and states

.page{
	.cta-background{
		background-color: $cta-background;
	}

	.cta-color{
		@extend .cta-background;
		color: $cta;
	}

	.utility-background{
		background-color: $utility;
	}
	.secondary-btn{
		border: 1px solid $white;
	}

	.white-background{
		background-color: $white;
	}

	.cover-title{
		color: $white;
	}
	.learn-more-btn{
		background-color: $black-copy;
		letter-spacing: .1em;
	}
	a{
		color: $white;

		&:hover{
			// color: ;
			// text-decoration: none;
			&[href]{
				cursor: pointer;
			}
		}
		&:not([href]){
			// color: gray;
			// color: transparent;
			opacity: .5;
		}
		&[type=button]{
			&,&:hover{
				text-decoration: none;			
			}
		}
	}
	.category-level-navigation .item-list .item {
		&.active{
			z-index: 1;
			a{
				box-shadow: -2px 2px 30px rgba(#000, .5);
				transform: scale(1.25);
			}
		}
		&:not(.active){
			&:hover{
				a{
					box-shadow: -1px 1px 15px rgba(#000, .25);
					transform: scale(1.05);

				}
				
			}
			&:active{
				a{
					box-shadow: 1px -1px 15px rgba(#000, .25);
					transform: scale(1,.9);
				}
			}
		}
	}
	.relative-nav .nav-plate, .mini-nav .mini-nav-btn{
		&:hover{
			box-shadow: -1px 1px 15px rgba(#000, .25);
			transform: scale(1.05);
		}
		&:active{
			box-shadow: 1px -1px 15px rgba(#000, .25);
			transform: scale(1,.75);
		}
	}

	.category-cover{
		.content-plate.summary{
			box-shadow: 0 0 $space rgba($black-copy, .5);
			background-color: rgba($white, .25);
		}
	}

	.project-page{

		.content-plate.full-height{
		
			&::after{
		
				background-color: $white;

			}

			.pgn-list {

				&, *{

					&, &::after, &::before{

						color: $black-copy;

					}
				}
			}
		}
	}
}


// animation and transitions

.dynamic_color, .background-container{
	transition-property: background-color;
	transition-duration: $duration*2;
	transition-timing-function: ease-out;
}

.background{
	transition-property: background-position;
	transition-duration: $duration/2;
	transition-timing-function: ease-out;
}

.page-overlay{
	transition-property: width, height;
	transition-duration: $duration/2;
	transition-timing-function: ease-out;
}

a{
	transition-property: color, transform;
	transition-duration: $duration;
	transition-timing-function: ease-in-out;
	&.dynamic_color{
		transition-property: background-color, color, transform;;
		transition-duration: $duration;
		transition-timing-function: ease-in-out;
	}
}



.page{
	// .content-plate, .category-title{
	// 	@include slideInLeft($duration:$duration);
	// }
	.animate-off-screen:not(.animate-in-progress){
		display: none;
	}
	.gallery{
		&, &.animate-in{
			@include fadeIn($duration:$duration);		
		}
		&.animate-out{
			@include fadeOut($duration:$duration);		
		}
	}
	.project-cover, .project-page{
		.content-plate{
			&, &.animate-in{
				@include slideInUp($duration:$duration);
				&.full-height{
					@include duration($duration*2);
				}
			}
			&.animate-out{
				@include slideOutDown($duration:$duration);
				&.full-height{
					@include duration($duration*2);
				}
			}
		}
		.date-container{
			&, &.animate-in{
				@include slideInDown($duration:$duration);
			}
			&.animate-out{
				@include slideOutUp($duration:$duration);
			}
		}
		.nav-container{
			.mini-nav-btn{
				@include slideInRight($delay:$delay/2, $duration:$duration);
			}
			.nav-plate{
				@include slideInRight($duration:$duration);
				@for $i from 0 through 2 {
					&:nth-child(1n+#{$i}){
						@include delay($delay + $delay/2 * $i);
					}
				}
			}
			.title-plate{
				@include slideInRight($delay:$delay*2, $duration:$duration);
			}
		}
	}
	.category-cover{
		.item-list{
			.item{
				@include slideInRight($delay:$delay, $duration:$duration);
				@for $i from 1 through 10 {
					&:nth-child(1n+#{$i}){
						@include delay($delay/2 * $i);
					}
				}
			}
		}
		.mini-nav-btn{
			@include slideInRight($delay:$delay, $duration:$duration);
		}
	}
	.background{
		&, &.animate-in{
			@include fadeIn($duration:$duration, $delay:$delay);
		}
		&.animate-out{
			@include fadeOut($duration:$duration, $delay:$delay);
		}
	}
}

