// vars
@import "grid";
@import "timing";
@import "colors";
@import "fonts";

// packages
// @import '{reywood:bootstrap3-sass}/bootstrap';
@import "bs_custom";
@import "flex-grid";
@import "animate-scss/properties";
@import "animate-scss/sliding-entrances/sliding-entrances";
@import "animate-scss/sliding-exits/sliding-exits";
@import "animate-scss/fading-entrances/fading-entrances";
@import "animate-scss/fading-exits/fading-exits";
@import "animate-scss/lightspeed/lightspeed";
@import "animate-scss/bouncing-entrances/bouncing-entrances";
@import "animate-scss/attention-seekers/attention-seekers";

// mijn
@import "mixins";
@import "admin";
@import "portfolio";
@import "form";
@import "partials";
@import "menu";
@import "email";
@import "hints";
@import "consent";
@import "error";
@import "landing";
// experiment
@import "vc-bw";