doctype
html.no-js
    include partials/head
    body#dummy-page
        include partials/symbols
        #container
            include partials/header
            h1.type-animation There is something constantly going on

            h2.type-animation You just have to know exactly what... ;-)

            include partials/footer
        include partials/scripts